{% import "cpp/hls/iter_loop_dev_macros.j2" as lmac %}
{% block header_block %}
#pragma once
    {% for df_node in ilh.get_active_df_graph().getAllLoopNodes() %}
#include "PE_{{df_node.loop.kernel}}.hpp"
    {% endfor %}

{% if ilh.isMultiDim() %}
    {% for dat, acc_type in ilh.dats %}
        {% if dat.isMultiDim() %}
constexpr unsigned short multidim_vector_factor_{{ilh.id}}_{{dat.ptr}} = vector_factor * {{dat.dim}};
constexpr unsigned short multidim_axis_data_width_{{ilh.id}}_{{dat.ptr}} = data_width * multidim_vector_factor_{{ilh.id}}_{{dat.ptr}};
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}

{% block joint_PE %}
{% endblock %}

{% block kernel_dataflow_region %}
{% endblock %}

{% block kernel_main_loop_region %}
{% endblock %}
{% block kernel_top_prototype %}
{% if slr_iter_par_fact is defined %}
extern "C" void kernel_outerloop_{{ilh.id}}_{{slr_iter_par_fact}}
{% else %}
extern "C" void kernel_outerloop_{{ilh.id}}
{% endif %}
(
        const unsigned short slr_region,
        const unsigned int outer_itr,
    {% for i in range(ndim)%}
        const unsigned short stencilConfig_grid_size_{{i}},
    {% endfor %}
    {#{% for i in range(ndim)%}
        const unsigned short gridProp_actual_size_{{i}},
    {% endfor %}
    {% for i in range(ndim)%}
        const unsigned short gridProp_grid_size_{{i}},
    {% endfor %}#}
        const unsigned short stencilConfig_dim,
        const unsigned int stencilConfig_total_itr,
#ifndef OPS_TILING
    {% for i in range(ndim)%}
        const unsigned short stencilConfig_lower_limit_{{i}},
    {% endfor %}
    {% for i in range(ndim)%}
        const unsigned short stencilConfig_upper_limit_{{i}},
    {% endfor %}
#endif
        const unsigned short stencilConfig_outer_loop_limit,
#ifndef OPS_TILING
        const unsigned short stencilConfig_batch_size,
#else
    {% if ndim == 3 %}
        const unsigned short tile_size_x,
        const unsigned short tile_size_y,
        const unsigned short last_tile_size_x,
        const unsigned short last_tile_size_y,
        const unsigned short tile_count_x,
        const unsigned short tile_count_y,
    {% else %}
        const unsigned short tile_size_x,
        const unsigned short last_tile_size_x,
        const unsigned short tile_count_x,
    {% endif %}
        const unsigned int total_xblocks,
        const unsigned short last_tile_upper_limit_x,
#endif
    {% for const_arg in ilh.joint_args|ops_gbl%}
        const {{const_arg.typ}} {{get_arg_gbl_name(const_arg)}},
    {% endfor %}
    {% for const in consts %}
        const {{const.typ}} {{const.ptr}},
    {% endfor %}
    {% for arg in ilh.joint_args|ops_dat %}
    //{{ilh.dats[arg.dat_id][0].ptr}}
        {% set first_loop_last = loop.last %}
        {% if arg is not ops_rw %}
            {% if prog.is_interleave() %}
                {% for tile in range(config["tile_banks"]) %}
        hls::stream <ap_axiu<{{lmac.axis_data_width(arg)}}, 0, 0, 0>>& {{lmac.axis_name_t3(arg,tile)-}}{{"," if not (loop.last and first_loop_last)}}
                {% endfor %}
            {% else %}
        hls::stream <ap_axiu<{{lmac.axis_data_width(arg)}}, 0, 0, 0>>& {{lmac.axis_name(arg)-}}{{"," if not loop.last}}
            {% endif %}
        {% else %}
            {% if prog.is_interleave() %}
                {% for tile in range(config["tile_banks"]) %}
       hls::stream <ap_axiu<{{lmac.axis_data_width(arg)}}, 0, 0, 0>>& {{lmac.axis_name_t3(arg, tile, "in")-}},
                {% endfor %}
                {% for tile in range(config["tile_banks"]) %}
       hls::stream <ap_axiu<{{lmac.axis_data_width(arg)}}, 0, 0, 0>>& {{lmac.axis_name_t3(arg, tile, "out")-}}{{"," if not (loop.last and first_loop_last)}}
                {% endfor %}
            {% else %}
        hls::stream <ap_axiu<{{lmac.axis_data_width(arg)}}, 0, 0, 0>>& {{lmac.axis_name_t2(arg, "in")-}},
        hls::stream <ap_axiu<{{lmac.axis_data_width(arg)}}, 0, 0, 0>>& {{lmac.axis_name_t2(arg, "out")-}}{{"," if not loop.last}}
            {% endif %}
        {% endif %}
    {% endfor %}
)
{% endblock %}
{% block kernel_top_prototype_semicolon %}
;
{% endblock %}
{% block kernel_top_body %}
{% endblock %}