{% set read_stencil = ilh.getReadStencil(prog) %}
{% set span_x = (read_stencil.stencil_size.x - 1) | int %}
{% set half_span_x = (span_x / 2) | int %}
{%set is_slr_iter_par = config["iter_par_factor"] is iterable and (config["iter_par_factor"] is not string and config["iter_par_factor"] is not mapping) %}

{% block prologue %}
#pragma once 
{% if target == "tapa" %}
#if !defined(TAPA_SW_EMU) && !defined(TAPA_HW_EMU)
{% endif %}
#include <ops_hls_rt_support.h>
{% if target == "tapa" %}
#else
#include <ops_tapa_rt_support.h>
#endif
{% endif %}
#include "../../common/include/common_config.hpp"

{% if target == "tapa" %}
#include <tapa.h>
#include "../../sim/sim_mega_kernel_{{ilh.id}}.hpp"
{% endif %}
{% endblock %}

{% block loopback_checker %}
{% endblock %}
{% block host_kernel_wrapper_class %}
{% if target == "tapa" %}
#if !defined(TAPA_SW_EMU) && !defined(TAPA_HW_EMU)
{% endif %}
class KernelWrapper_outerloop_{{ilh.id}} : public ops::hls::Kernel
{
public:
    KernelWrapper_outerloop_{{ilh.id}}():
            Kernel("{{ilh.unique_name}}"),
    {% if is_slr_iter_par %}
        {% for slr_id in range(config["SLR_count"]) %}
            m_kernelName{{slr_id}}("kernel_outerloop_{{ilh.id}}_{{slr_id}}"),
        {% endfor %}
    {% else %}
            m_kernelName("kernel_outerloop_{{ilh.id}}"),
    {% endif %}
            m_datamoverName("datamover_outerloop_{{ilh.id}}")
    {
        cl_int err;
    {% for i in range(config["SLR_count"])%}
        {% if is_slr_iter_par %}
        OCL_CHECK(err, m_kernel_{{i}} = cl::Kernel(m_fpga->getProgram(), m_kernelName{{i}}.c_str(), &err));
        {% else %}
        OCL_CHECK(err, m_kernel_{{i}} = cl::Kernel(m_fpga->getProgram(), m_kernelName.c_str(), &err));
        {% endif %}
    {% endfor %}
        OCL_CHECK(err, m_datamover = cl::Kernel(m_fpga->getProgram(), m_datamoverName.c_str(), &err));    
    }

    void run(ops::hls::AccessRange& range, unsigned int outer_iter,
    {% for arg in ilh.joint_args %}
        {% if loop.last %}
            {% if consts %}
                {% set last_check = False %}
            {% else %}
                {% set last_check = True %}
            {% endif %}
        {% else %}
            {% set last_check = False %}
        {% endif %}
        {% if arg is ops_dat %}
            ops::hls::Grid<{{ilh.dats[arg.dat_id][0].typ}}>& arg{{arg.id}}{{"," if not last_check}}
        {% elif arg is ops_gbl %}
            const {{arg.typ}}* {{get_arg_gbl_name(arg)}}{{"," if not last_check}}
        {% endif %}
    {% endfor %}
    {% for const in consts %}
            const {{const.typ}} {{const.ptr}}{{"," if not loop.last}}
    {% endfor %}
    )
    {
        cl_int err;
    {% set read_stencil = ilh.getReadStencil(prog) %}
    {% if read_stencil %}    
        ops::hls::SizeType read_stencil_d_m = { {{read_stencil.d_m[0]}}, {{read_stencil.d_m[1]}}, {{read_stencil.d_m[2]}} };
        ops::hls::SizeType read_stencil_d_p = { {{read_stencil.d_p[0]}}, {{read_stencil.d_p[1]}}, {{read_stencil.d_p[2]}} };
        ops::hls::SizeType write_stencil_d_m = {0,0,0};
        ops::hls::SizeType write_stencil_d_p = {0,0,0};
    {% else %}
        //ERROR: No read_stencil
    {% endif %}
        auto read_stencilConfig = getStencilConfig(arg0.originalProperty, range, vector_factor, mem_vector_factor, read_stencil_d_m, read_stencil_d_p);
        ops::hls::AccessRange read_range;
        getAdjustedRange(arg0.originalProperty, range, read_range, read_stencil_d_m, read_stencil_d_p);
    {% if target == "tapa" %}
        ops::hls::MemConfig memconfig;
        ops::hls::genMemConfig<mem_data_width, axis_data_width, data_width>(arg0.originalProperty.grid_size, read_range, memconfig);
        const unsigned int num_beats = memconfig.total_xblocks * arg0.originalProperty.batch_size;
        const unsigned int num_of_pkts_per_beat = mem_data_width / axis_data_width;
        const unsigned int num_of_pkts = num_beats * num_of_pkts_per_beat;
    {% endif %}
#ifdef OPS_TILING
        ops::hls::SizeType original_gridSize_copy = {arg0.originalProperty.grid_size[0], arg0.originalProperty.grid_size[1], arg0.originalProperty.grid_size[2]};
        ops::hls::AccessRange read_range_copy;
        read_range_copy.start[0] = read_range.start[0];
        read_range_copy.start[1] = read_range.start[1];
        read_range_copy.start[2] = read_range.start[2];
        read_range_copy.end[0] = read_range.end[0];
        read_range_copy.end[1] = read_range.end[1];
        read_range_copy.end[2] = read_range.end[2];
        read_range_copy.dim = read_range.dim;
        ops::hls::SizeType2d tile_size = {m_fpga->getOPSTileSizeX(), {% if ndim == 3 %} m_fpga->getOPSTileSizeY(){% else %}1{% endif %}};
        {% if is_slr_iter_par %}
        ops::hls::SizeType2d overlap_size = {get_overlap_size<{{get_total_PEs(config["SLR_count"],config["iter_par_factor"])}}, {{half_span_x}}, mem_vector_factor>(), 
                {% if ndim == 3 %}get_overlap_size<{{get_total_PEs(config["SLR_count"],config["iter_par_factor"])}}, {{half_span_x}}, 1>(){%else %}0{% endif %}};
        {% else %}
        ops::hls::SizeType2d overlap_size = {get_overlap_size<{{config["SLR_count"]}}, {{config["iter_par_factor"]}}, {{half_span_x}}, mem_vector_factor>(), 
                {% if ndim == 3 %}get_overlap_size<{{config["SLR_count"]}}, {{config["iter_par_factor"]}}, {{half_span_x}}, 1>(){%else %}0{% endif %}};
        {% endif %}
        ops::hls::SizeType2d tile_count;
        ops::hls::SizeType2d effective_tile_size;
        ops::hls::SizeType2d last_tile_size;
        unsigned int total_xblocks_widen;
        unsigned short last_tile_upper_limit_x;
    #ifdef DEBUG_LOG
        std::cout << "[DEBUG][KERNEL_WRAPPER]|" << __func__ << "| TILE PARAMETERS BEFORE TILE METADATA GENERATION" << std::endl;
        std::cout << "[DEBUG][KERNEL_WRAPPER]|" << __func__ << "| original_gridSize_copy: (" 
                  << original_gridSize_copy[0] << ", " << original_gridSize_copy[1] << ", " << original_gridSize_copy[2] << ")\n";
        std::cout << "[DEBUG][KERNEL_WRAPPER]|" << __func__ << "| read_range_copy: ( start: (" 
                  << read_range_copy.start[0] << ", " << read_range_copy.start[1] << ", " << read_range_copy.start[2] << "), end: ("
                  << read_range_copy.end[0] << ", " << read_range_copy.end[1] << ", " << read_range_copy.end[2] << "), dim: " << read_range_copy.dim << ")\n";
        std::cout << "[DEBUG][KERNEL_WRAPPER]|" << __func__ << "| tile_size: (" 
                  << tile_size[0] << ", " << tile_size[1] << ")\n";
        std::cout << "[DEBUG][KERNEL_WRAPPER]|" << __func__ << "| overlap_size: (" 
                  << overlap_size[0] << ", " << overlap_size[1] << ")\n";
    #endif
        ops::hls::genTileMetadata<mem_data_width, data_width, {{ndim - 1}}>(original_gridSize_copy, read_range_copy, tile_size, overlap_size,
                effective_tile_size, last_tile_size, tile_count, last_tile_upper_limit_x, total_xblocks_widen);
        // kernel tile sizes need to be adusted according to the axis_data_width
        ops::hls::SizeType2d kernel_tile_size = {tile_size[0] * num_of_pkts_per_beat, tile_size[1]};
        ops::hls::SizeType2d kernel_last_tile_size = {last_tile_size[0] * num_of_pkts_per_beat, last_tile_size[1]};
    #ifdef DEBUG_LOG
        std::cout << "[DEBUG][KERNEL_WRAPPER]|" << __func__ << "| TILE PARAMETERS AFTER TILE METADATA GENERATION" << std::endl;
        std::cout << "[DEBUG][KERNEL_WRAPPER]|" << __func__ << "| effective_tile_size: (" 
                  << effective_tile_size[0] << ", " << effective_tile_size[1] << ")\n";
        std::cout << "[DEBUG][KERNEL_WRAPPER]|" << __func__ << "| last_tile_size: (" 
                  << last_tile_size[0] << ", " << last_tile_size[1] << ")\n";
        std::cout << "[DEBUG][KERNEL_WRAPPER]|" << __func__ << "| tile_count: (" 
                  << tile_count[0] << ", " << tile_count[1] << ")\n";
        std::cout << "[DEBUG][KERNEL_WRAPPER]|" << __func__ << "| total_xblocks_widen: " 
                  << total_xblocks_widen << "\n";
        std::cout << "[DEBUG][KERNEL_WRAPPER]|" << __func__ << "| kernel_tile_size: (" 
                  << kernel_tile_size[0] << ", " << kernel_tile_size[1] << ")\n";
        std::cout << "[DEBUG][KERNEL_WRAPPER]|" << __func__ << "| kernel_last_tile_size: (" 
                  << kernel_last_tile_size[0] << ", " << kernel_last_tile_size[1] << ")\n";
    #endif
#endif
#ifdef DEBUG_LOG
        printAccessRange(range, "common access range");
        printGridProp(arg0.originalProperty, "arg0_originalGridProp");
        printStencilConfig(read_stencilConfig, "read_stencilConfig");
#endif

		unsigned int total_iter_par_factor = {{get_total_PEs(config["SLR_count"],config["iter_par_factor"])}};
		unsigned int adjusted_outer_iter = (outer_iter + total_iter_par_factor - 1) / total_iter_par_factor;
        {#
        ops::hls::MemConfig memconfig;

        {% if ilh.isMultiDim() %} //TODO: need to do multidim
            {% for m_dim in ilh.getMultidimList() %}
        ops::hls::MemConfig memconfig_d{{m_dim}};
            {% endfor %}
        {% endif %}

        ops::hls::genMemConfig<mem_data_width, axis_data_width, data_width>(read_stencilConfig.grid_size, read_range, memconfig, read_stencilConfig.batch_size);

        {% if ilh.isMultiDim() %}
            {% for m_dim in ilh.getMultidimList() %}
        ops::hls::multidimConfigConverter<{{m_dim}}>(memconfig, memconfig_d{{m_dim}});
            {% endfor %}
        {% endif %}
        #}
        int narg = 0;
    {% for slr_id in range(config["SLR_count"]) %}
        {{"narg = 0;" if not loop.first}} 
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, (unsigned short){{loop.index0}}));
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, adjusted_outer_iter));
        {% for i in range(ndim)%}
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, read_stencilConfig.grid_size[{{i}}]));
        {% endfor %}
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, read_stencilConfig.dim));
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, read_stencilConfig.total_itr));
#ifndef OPS_TILING
            {% for i in range(ndim)%}
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, read_stencilConfig.lower_limit[{{i}}]));
        {% endfor %}
        {% for i in range(ndim)%}
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, read_stencilConfig.upper_limit[{{i}}]));
        {% endfor %}
#endif
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, read_stencilConfig.outer_loop_limit));
#ifndef OPS_TILING
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, read_stencilConfig.batch_size));
#else
        {% if ndim == 3 %}
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, kernel_tile_size[0]));
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, kernel_tile_size[1]));
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, kernel_last_tile_size[0]));
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, kernel_last_tile_size[1]));
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, tile_count[0]));
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, tile_count[1]));
        {% else %}
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, kernel_tile_size[0]));
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, kernel_last_tile_size[0]));
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, tile_count[0]));
        {% endif %}
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, total_xblocks_widen));
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, last_tile_upper_limit_x));
#endif
        {% for arg in ilh.joint_args|ops_gbl%}
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, *{{get_arg_gbl_name(arg)}}));
        {% endfor %}
        {% for const in consts %}
        OCL_CHECK(err, err = m_kernel_{{slr_id}}.setArg(narg++, {{const.ptr}}));
        {% endfor %}
    {% endfor %}

#ifndef OPS_HLS_NO_LOOPBACK
        bool loopback_enbl = true;
#else
        bool loopback_enbl = false;
#endif 
        narg = 0;
    
    {% if config["datamover_mode"] == 3 %}
        OCL_CHECK(err, err = m_datamover.setArg(narg++, loopback_enbl));
    {% endif %}
    {% if target == "hls" %}
        {% for i in range(ndim)%}
        OCL_CHECK(err, err = m_datamover.setArg(narg++, read_range.start[{{i}}]));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, read_range.end[{{i}}]));
        {% endfor %}
        {% for arg in ilh.joint_args|ops_dat %}
            {% if loop.first %}
                {% for idx in range(ndim)%}
        OCL_CHECK(err, err = m_datamover.setArg(narg++, arg{{arg.id}}.originalProperty.grid_size[{{idx}}]));
                {% endfor %}
            {% endif %}
        {% endfor %} 
    {% else %}
        OCL_CHECK(err, err = m_datamover.setArg(narg++, num_beats));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, num_of_pkts));
    {% endif %}
        OCL_CHECK(err, err = m_datamover.setArg(narg++, adjusted_outer_iter));
    {% if target == "hls" %}
#ifndef OPS_TILING
        OCL_CHECK(err, err = m_datamover.setArg(narg++, arg0.originalProperty.batch_size)); 
#else
        {% if ndim == 3 %}   
        OCL_CHECK(err, err = m_datamover.setArg(narg++, tile_size[0]));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, tile_size[1]));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, overlap_size[0]));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, overlap_size[1]));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, effective_tile_size[0]));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, effective_tile_size[1]));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, last_tile_size[0]));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, last_tile_size[1]));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, tile_count[0]));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, tile_count[1]));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, total_xblocks_widen));
        {% else %}
        OCL_CHECK(err, err = m_datamover.setArg(narg++, tile_size[0]));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, overlap_size[0]));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, effective_tile_size[0]));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, last_tile_size[0]));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, tile_count[0]));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, total_xblocks_widen));
        {% endif %}
#endif
    {% endif %}
        {#OCL_CHECK(err, err = m_datamover.setArg(narg++, memconfig.start_x));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, memconfig.end_x));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, memconfig.start_y));    
        OCL_CHECK(err, err = m_datamover.setArg(narg++, memconfig.end_y)); 
        OCL_CHECK(err, err = m_datamover.setArg(narg++, memconfig.start_z));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, memconfig.end_z));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, memconfig.grid_xblocks));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, memconfig.grid_size_y));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, memconfig.grid_size_z));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, memconfig.num_xblocks));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, memconfig.x_tile_size));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, memconfig.x_tile_bytes));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, memconfig.isContinous));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, memconfig.start_offset));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, memconfig.batch_size));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, memconfig.total_xblocks));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, memconfig.total_size_bytes));
        OCL_CHECK(err, err = m_datamover.setArg(narg++, adjusted_outer_iter));#}
    {% for arg in ilh.joint_args %}
        {% if arg is ops_dat %}
#ifdef OPS_TILING
    printf("Tiles per grid: %d \n", arg0.alt_banks);
    {% if config["tile_banks"] > 1 and config["datamover_lib"] == 1 %}
        {% for i in range(config["tile_banks"]) %}
        OCL_CHECK(err, err = m_datamover.setArg(narg++, arg{{arg.id}}.deviceBuffer[{{i}}]));
        {% endfor %}
    {% else %}
        OCL_CHECK(err, err = m_datamover.setArg(narg++, arg{{arg.id}}.deviceBuffer[0]));
    {% endif %}
        {#OCL_CHECK(err, err = m_datamover.setArg(narg++, arg{{arg.id}}.deviceBuffer[1]));#}
#else
        OCL_CHECK(err, err = m_datamover.setArg(narg++, arg{{arg.id}}.deviceBuffer));
#endif
        {% endif%}
    {% endfor %}

        std::vector<cl::Event> h2d_events;
    {% for arg in ilh.joint_args %}
        {% if arg is ops_dat %}
        cl::Event event_h2d_arg{{arg.id}} = arg{{arg.id}}.set_as_arg();
        {% endif %}
    {% endfor %}
#ifdef PROFILE
    {% for arg in ilh.joint_args %}
        {% if arg is ops_dat %}
        h2d_events.push_back(event_h2d_arg{{arg.id}});
        {% endif %}
    {% endfor %}
        recordH2DEvent(h2d_events);
#endif

    {% for slr_id in range(config["SLR_count"]) %}
        cl::Event event_kernel_{{slr_id}};
    {% endfor %}
        cl::Event event_datamover;

        std::vector<cl::Event> activeEvents;
    {% for arg in ilh.joint_args %}
        {% if arg is ops_dat %}
        activeEvents.insert(activeEvents.end(), arg{{arg.id}}.activeEvents.begin(), arg{{arg.id}}.activeEvents.end());
        {% endif %}
    {% endfor %}

    // enque in backward order
    {% for slr_id in range(config["SLR_count"]) %}
        OCL_CHECK(err, err = m_fpga->getCommandQueue().enqueueTask(m_kernel_{{slr_id}}, &activeEvents, &event_kernel_{{slr_id}}));
    {% endfor %}
        OCL_CHECK(err, err = m_fpga->getCommandQueue().enqueueTask(m_datamover, &activeEvents, &event_datamover));

{##ifdef DEBUG_LOG
    {% for arg in ilh.joint_args %}
        {% if arg is ops_dat %}
        ops::hls::addEvent(arg{{arg.id}}, event_kernel, m_kernelName);
        ops::hls::addEvent(arg{{arg.id}}, event_datamover, m_kernelName);
        {% endif %}
    {% endfor %}
#endif#}

#ifdef PROFILE
    std::vector<cl::Event> execEvents;
    execEvents.push_back(event_datamover);
    {% for slr_id in range(config["SLR_count"]) %}
        execEvents.push_back(event_kernel_{{slr_id}});
    {% endfor %}
    recordExecEvent(event_datamover);
    registerProfileEvents();
#endif

    {% for arg in ilh.joint_args %}
        {% if arg is ops_dat %}
        arg{{arg.id}}.isDevBufDirty = true;
        arg{{arg.id}}.activeEvents.resize(0);
        arg{{arg.id}}.activeEvents.push_back(event_datamover);
            {% for slr_id in range(config["SLR_count"]) %}
        arg{{arg.id}}.activeEvents.push_back(event_kernel_{{slr_id}});
            {% endfor %}
        {% endif %}
    {% endfor %}

#ifndef ASYNC_DISPATCH
        event_datamover.wait();
    {% for slr_id in range(config["SLR_count"]) %}
        event_kernel_{{slr_id}}.wait();
    {% endfor %}
#else
    #ifdef DEBUG_LOG
        printf("[DEBUG_HOST] Async dispatch enabled, not waiting for kernel completion.\n");
    #endif
#endif

/*
        //Sync maped dats
        activeEvents.resize(0);
    {% for arg in ilh.joint_args %}
        {% if arg is ops_dat %}
        activeEvents.insert(activeEvents.end(), arg{{arg.id}}.activeEvents.begin(), arg{{arg.id}}.activeEvents.end());
        {% endif %}
    {% endfor %}

    {% for swap_pair in ilh.getUniqueDatSwaps() %}
        {% if swap_pair[0] != swap_pair[1] %}
        cl::Event event_arg{{ilh.getArg(swap_pair[0]).id}}_arg{{ilh.getArg(swap_pair[1]).id}}_bufCpy;
        size_t arg{{ilh.getArg(swap_pair[0]).id}}_total_bytes = arg{{ilh.getArg(swap_pair[0]).id}}.originalProperty.grid_size[0] * arg{{ilh.getArg(swap_pair[0]).id}}.originalProperty.grid_size[1] * arg{{ilh.getArg(swap_pair[0]).id}}.originalProperty.grid_size[2] * sizeof(stencil_type);
        {% endif %}
    {% endfor %}

        if (adjusted_outer_iter %2 != 0)
        {
    {% for swap_pair in ilh.getUniqueDatSwaps() %}
        {% if swap_pair[0] != swap_pair[1] %}
            OCL_CHECK(err, err = m_fpga->getCommandQueue().enqueueCopyBuffer(arg{{ilh.getArg(swap_pair[0]).id}}.deviceBuffer, arg{{ilh.getArg(swap_pair[1]).id}}.deviceBuffer, 0, 0, arg{{ilh.getArg(swap_pair[0]).id}}_total_bytes, &activeEvents, &event_arg{{ilh.getArg(swap_pair[0]).id}}_arg{{ilh.getArg(swap_pair[1]).id}}_bufCpy));
        {% endif %}
    {% endfor %}
        }
        else
        {
    {% for swap_pair in ilh.getUniqueDatSwaps() %}
        {% if swap_pair[0] != swap_pair[1] %}
            OCL_CHECK(err, err = m_fpga->getCommandQueue().enqueueCopyBuffer(arg{{ilh.getArg(swap_pair[1]).id}}.deviceBuffer, arg{{ilh.getArg(swap_pair[0]).id}}.deviceBuffer, 0, 0, arg{{ilh.getArg(swap_pair[0]).id}}_total_bytes, &activeEvents, &event_arg{{ilh.getArg(swap_pair[0]).id}}_arg{{ilh.getArg(swap_pair[1]).id}}_bufCpy));
        {% endif %}
    {% endfor %}
        }
#ifndef ASYNC_DISPATCH
    {% for swap_pair in ilh.getUniqueDatSwaps() %}
        {% if swap_pair[0] != swap_pair[1] %}
        event_arg{{ilh.getArg(swap_pair[0]).id}}_arg{{ilh.getArg(swap_pair[1]).id}}_bufCpy.wait();
        {% endif %}
    {% endfor %}
#endif
*/
    }
private:
{% if is_slr_iter_par %}
    {% for slr_id in range(config["SLR_count"]) %}
    std::string m_kernelName{{slr_id}};
    {% endfor %}
{% else %}
    std::string m_kernelName;
{% endif %}

    std::string m_datamoverName;
{% for slr_id in range(config["SLR_count"]) %}
    cl::Kernel m_kernel_{{slr_id}};
{% endfor %}
    cl::Kernel m_datamover;
};
{% if target == "tapa" %}
#else

void tapa_kernelwrapper_outerloop_{{ilh.id}}(
        ops::hls::AccessRange& range, unsigned int outer_iter,
    {% for arg in ilh.joint_args %}
        {% if loop.last %}
            {% if consts %}
                {% set last_check = False %}
            {% else %}
                {% set last_check = True %}
            {% endif %}
        {% else %}
            {% set last_check = False %}
        {% endif %}
        {% if arg is ops_dat %}
        ops::hls::Grid<{{ilh.dats[arg.dat_id][0].typ}}>& arg{{arg.id}}{{"," if not last_check}}
        {% elif arg is ops_gbl %}
        const {{arg.typ}}* {{get_arg_gbl_name(arg)}}{{"," if not last_check}}
        {% endif %}
    {% endfor %}
    {% for const in consts %}
        const {{const.typ}} {{const.ptr}}{{"," if not loop.last}}
    {% endfor %}
){
    {% set read_stencil = ilh.getReadStencil(prog) %}
    {% if read_stencil %}    
    ops::hls::SizeType read_stencil_d_m = { {{read_stencil.d_m[0]}}, {{read_stencil.d_m[1]}}, {{read_stencil.d_m[2]}} };
    ops::hls::SizeType read_stencil_d_p = { {{read_stencil.d_p[0]}}, {{read_stencil.d_p[1]}}, {{read_stencil.d_p[2]}} };
    ops::hls::SizeType write_stencil_d_m = {0,0,0};
    ops::hls::SizeType write_stencil_d_p = {0,0,0};
    {% else %}
    //ERROR: No read_stencil
    {% endif %}
    auto read_stencilConfig = getStencilConfig(arg0.originalProperty, range, vector_factor, mem_vector_factor, read_stencil_d_m, read_stencil_d_p);
    ops::hls::AccessRange read_range;
    getAdjustedRange(arg0.originalProperty, range, read_range, read_stencil_d_m, read_stencil_d_p);
    {% if target == "tapa" %}
    ops::hls::MemConfig memconfig;
    ops::hls::genMemConfig<mem_data_width, axis_data_width, data_width>(arg0.originalProperty.grid_size, read_range, memconfig);
    const unsigned int num_beats = memconfig.total_xblocks * arg0.originalProperty.batch_size;
    const unsigned int num_of_pkts_per_beat = mem_data_width / axis_data_width;
    const unsigned int num_of_pkts = num_beats * num_of_pkts_per_beat;
    {% endif %}
#ifdef DEBUG_LOG
    printAccessRange(range, "common access range");
    printGridProp(arg0.originalProperty, "arg0_originalGridProp");
    printStencilConfig(read_stencilConfig, "read_stencilConfig");
#endif

    unsigned int total_iter_par_factor = {{get_total_PEs(config["SLR_count"],config["iter_par_factor"])}};
    unsigned int adjusted_outer_iter = (outer_iter + total_iter_par_factor - 1) / total_iter_par_factor;

#ifdef DEBUG_LOG
    std::cout << "[DEBUG] Invoking TAPA mega-kernel in simulation mode..." << std::endl;
#endif

#ifdef DEBUG_LOG
    printf("==================================\n");
    printf("Invoke Parameters\n");
    printf("==================================\n");
    printf("num_beats: %d\n", num_beats);
    printf("num_of_pkts: %d\n", num_of_pkts);
    printf("loopback_itr: %d\n", adjusted_outer_iter-1);
    printf("adjusted_outer_iter: %d\n", adjusted_outer_iter);
    {% for idx in range(ndim)%}
    printf("read_stencilConfig.grid_size[{{idx}}]: %d\n", read_stencilConfig.grid_size[{{idx}}]);
    {% endfor %}
    printf("read_stencilConfig.dim: %d\n", read_stencilConfig.dim);
    printf("read_stencilConfig.total_itr: %d\n", read_stencilConfig.total_itr);
    {% for idx in range(ndim)%}
    printf("read_stencilConfig.lower_limit[{{idx}}]: %d\n", read_stencilConfig.lower_limit[{{idx}}]);
    {% endfor %}
    {% for idx in range(ndim)%}
    printf("read_stencilConfig.upper_limit[{{idx}}]: %d\n", read_stencilConfig.upper_limit[{{idx}}]);
    {% endfor %}
    printf("read_stencilConfig.outer_loop_limit: %d\n", read_stencilConfig.outer_loop_limit);
    printf("read_stencilConfig.batch_size: %d\n", read_stencilConfig.batch_size);
    printf("==================================\n");
#endif 

    //Initiating split for tiled altHostBuffers
    {% for arg in ilh.joint_args|ops_dat %}
    {% if arg is ops_read_or_rw %}
    arg{{arg.id}}.set_as_arg();
    {% endif %}
    {% endfor %}

    ::tapa::invoke(sim_mega_kernel_{{ilh.id}}, ops::hls::FPGA::getInstance()->getProgramName().c_str(),
            num_beats, num_of_pkts, adjusted_outer_iter-1, adjusted_outer_iter,
        {% for idx in range(ndim)%}
            read_stencilConfig.grid_size[{{idx}}],
        {% endfor %}
            read_stencilConfig.dim,
            read_stencilConfig.total_itr,
        {% for idx in range(ndim)%}
            read_stencilConfig.lower_limit[{{idx}}],
        {% endfor %}
        {% for idx in range(ndim)%}
            read_stencilConfig.upper_limit[{{idx}}],
        {% endfor %}
            read_stencilConfig.outer_loop_limit,
            read_stencilConfig.batch_size,
        {% for arg in ilh.joint_args|ops_gbl%}
            *{{get_arg_gbl_name(arg)}},
        {% endfor %}
        {% for const in consts %}
            {{const.ptr}},
        {% endfor %}
        {% for arg in ilh.joint_args|ops_dat %}
#ifdef OPS_TILING
            {% if config["tile_banks"] > 1 and config["datamover_lib"] == 1 %}
                {% for i in range(config["tile_banks"]) %}
            ::tapa::read_write_mmap<::tapa::vec_t<stencil_type, mem_vector_factor>>(
                reinterpret_cast<::tapa::vec_t<stencil_type, mem_vector_factor>*>(arg{{arg.id}}.altHostBuffers[{{i}}].data()),
                arg{{arg.id}}.altHostBuffers[{{i}}].size() / mem_vector_factor){{", " if not loop.last}}
                {% endfor %}
            {% else %}
            ::tapa::read_write_mmap<::tapa::vec_t<stencil_type, mem_vector_factor>>(
                    reinterpret_cast<::tapa::vec_t<stencil_type, mem_vector_factor>*>(arg{{arg.id}}.altHostBuffers[0].data()),
                    arg{{arg.id}}.altHostBuffers[0].size() / mem_vector_factor){{", " if not loop.last}}
            {% endif %}
#else
            ::tapa::read_write_mmap<::tapa::vec_t<stencil_type, mem_vector_factor>>(
                    reinterpret_cast<::tapa::vec_t<stencil_type, mem_vector_factor>*>(arg{{arg.id}}.hostBuffer.data()),
                    arg{{arg.id}}.hostBuffer.size() / mem_vector_factor){{", " if not loop.last}}
#endif
        {% endfor %}
    );
}
#endif
{% endif %}
{% endblock %}

{% block par_loop %}
void {{ilh.unique_name}}(int outer_iter, int* ops_range,
    {% for arg in ilh.joint_args %}
        {% if loop.last %}
            {#{% if consts %}
                {% set last_check = False %}
            {% else %}
                {% set last_check = True %}
            {% endif %}#}
            {% set last_check = True %}
        {% else %}
            {% set last_check = False %}
        {% endif %}
        {% if arg is ops_dat %}
            ops::hls::Grid<{{ilh.dats[arg.dat_id][0].typ}}>& arg{{arg.id}}{{"," if not last_check}}
        {% elif arg is ops_gbl %}
            const {{arg.typ}}* {{get_arg_gbl_name(arg)}}{{"," if not last_check}}
        {% endif %}
    {% endfor %}
    {# {% for const in consts %}
            const {{const.typ}} {{const.ptr}}{{"," if not loop.last}}
    {% endfor %} #}
)
{
    ops::hls::AccessRange range;
    opsRange2hlsRange({{ndim}}, ops_range, range, arg{{ilh.joint_args[0].id}}.originalProperty);
    {% if target == "tapa" %}
#if !defined(TAPA_SW_EMU) && !defined(TAPA_HW_EMU)
    {% endif %}
    static  KernelWrapper_outerloop_{{ilh.id}} kernelWrapper_inst;
    {% for arg in ilh.joint_args|ops_dat %}
        {% if arg is ops_read %}
    sendGrid(arg{{ilh.getArg(arg.dat_id).id}});
        {% endif %}
    {% endfor %}
    
    kernelWrapper_inst.run(range, outer_iter,
    {% for arg in ilh.joint_args %}
        {% if loop.last %}
            {% if consts %}
                {% set last_check = False %}
            {% else %}
                {% set last_check = True %}
            {% endif %}
        {% else %}
            {% set last_check = False %}
        {% endif %}
        {% if arg is ops_dat %}
            arg{{arg.id}}{{"," if not last_check}}
        {% elif arg is ops_gbl %}
            {{get_arg_gbl_name(arg)}}{{"," if not last_check}}
        {% endif %}
    {% endfor %}
    {% for const in consts %}
            {{const.ptr}}{{"," if not loop.last}}
    {% endfor %}
    );
    {% if target == "tapa" %}
#else
    tapa_kernelwrapper_outerloop_{{ilh.id}}(range, outer_iter,
        {% for arg in ilh.joint_args %}
            {% if loop.last %}
                {% if consts %}
                    {% set last_check = False %}
                {% else %}
                    {% set last_check = True %}
                {% endif %}
            {% else %}
                {% set last_check = False %}
            {% endif %}
            {% if arg is ops_dat %}
            arg{{arg.id}}{{"," if not last_check}}
            {% elif arg is ops_gbl %}
            {{get_arg_gbl_name(arg)}}{{"," if not last_check}}
            {% endif %}
        {% endfor %}
        {% for const in consts %}
            {{const.ptr}}{{"," if not loop.last}}
        {% endfor %}
    );
#endif
    {% endif %}

}
{% endblock %}
