{% extends "cpp/hls/iter_loop_dev_inc_hls.hpp.j2" %}

{% macro internal_stream_name(arg) -%}
{%- if arg is ops_read -%}
arg{{arg.id}}_arg{{ilh.getSwapArg(arg).id}}_streams
{%- else -%}
arg{{ilh.getSwapArg(arg).id}}_arg{{arg.id}}_streams
{%- endif -%}
{%- endmacro -%}
{% if slr_iter_par_fact is defined %}
{% set iter_par_factor_internal = config["iter_par_factor"][slr_iter_par_fact]%}
{% else %}
{% set iter_par_factor_internal = config["iter_par_factor"]%}
{% endif %}
{% macro iter_par_factor() -%}
{%- if slr_iter_par_fact is defined -%}
iter_par_factor_{{slr_iter_par_fact}}
{%- else -%}
iter_par_factor
{%- endif -%}
{%- endmacro -%}
{% macro joint_PE_body_p1() %}
    {% for stream_interconnector, dat_id in ilh.interconnectors %}
    ::hls::stream<ap_uint<{{lmac.axis_data_width_datid(dat_id)}}>> {{stream_interconnector}}[{{iter_par_factor()}}]{% if prog.is_interleave() %}[{{config["tile_banks"]}}]{% endif %};
    #pragma HLS STREAM variable = {{stream_interconnector}}   {#depth = {{config["hls_interconnect_buff_size"]}}#}
    
    #pragma HLS ARRAY_PARTITION variable = {{stream_interconnector}}
    {% endfor %}
    {% for df_node in ilh.get_active_df_graph().getAllLoopNodes() %}
        {% set loop_idx = df_node.node_uid %}
        {% set lh = df_node.loop %}
        {% if prog.is_interleave() %}
            {% for arg in lh.args| ops_dat | ops_read_or_rw %}
                {% set global_arg = ilh.getArg(arg.dat_id) %}
                {% if global_arg is not ops_read_or_rw %}
                    {% set global_arg = ilh.getSwapArg(global_arg) %}
                {% endif %}
    ::hls::stream<ap_uint<half_axis_data_width_{{lh.kernel}}_{{global_arg.id}}>> arg{{global_arg.id}}_{{lh.kernel}}_in_subtile_stream[{{iter_par_factor()}}][{{config["tile_banks"]}}];
    #pragma HLS STREAM variable = arg{{global_arg.id}}_{{lh.kernel}}_in_subtile_stream {#depth = {{config["hls_interconnect_buff_size"]}}#}
    
    #pragma HLS ARRAY_PARTITION variable = arg{{global_arg.id}}_{{lh.kernel}}_in_subtile_stream

    ::hls::stream<ap_uint<half_axis_data_width_{{lh.kernel}}_{{ilh.getSwapArg(global_arg).id}}>> arg{{ilh.getSwapArg(global_arg).id}}_{{lh.kernel}}_out_subtile_stream[{{iter_par_factor()}}][{{config["tile_banks"]}}];
    #pragma HLS STREAM variable = arg{{ilh.getSwapArg(global_arg).id}}_{{lh.kernel}}_out_subtile_stream {#depth = {{config["hls_interconnect_buff_size"]}}#}
    
    #pragma HLS ARRAY_PARTITION variable = arg{{ilh.getSwapArg(global_arg).id}}_{{lh.kernel}}_out_subtile_stream
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endmacro %}
{% macro joint_PE_body_p2(i='i', PEID_offset=none, is_temporal_first = none, is_temporal_last = none) %}
    {% set prev_arg_str = {} %}
    {% for df_node in ilh.get_active_df_graph().getAllLoopNodes() %}
        {% set loop_idx = df_node.node_uid %}
        {% set lh = df_node.loop %}
            {#% if PEID_offset is none %}
    //const unsigned short PEId_offset_i = PEId_offset + {{i}};
            {% set PEID_offset = "PEId_offset" %}
            {% else %}
    //const unsigned short PEId_offset_i = {% if i is number%}{{PEID_offset + i}}{% else %}{{PEID_offset}} + {{i}}{% endif %};
            {% endif %#}
        {% if prog.is_interleave() %}
            {% for arg in lh.args| ops_dat | ops_read_or_rw %}
                {% set global_arg = ilh.getArg(arg.dat_id) %}
                {% if global_arg is not ops_read_or_rw %}
                    {% set global_arg = ilh.getSwapArg(global_arg) %}
                {% endif %}
                {% if is_temporal_first == none or is_temporal_first == true %}
    ops::hls::stream2interleave<{{lmac.axis_data_width(arg)}}, {{config["data_width"]}}, {{config["tile_banks"]}}, {{((lh.read_stencil.stencil_size.x - 1)/2)|int}}>({{ilh.PE_args[loop_idx][arg.id][0]}}[0], arg{{global_arg.id}}_{{lh.kernel}}_in_subtile_stream[{{i}}], num_pkts);
                {% else %}
    ops::hls::updateInterleaveBoundaries<{{lmac.axis_data_width(arg)}}, {{config["data_width"]}}, {{config["tile_banks"]}}, {{((lh.read_stencil.stencil_size.x - 1)/2)|int}}>(arg{{ilh.getSwapArg(global_arg).id}}_{{lh.kernel}}_out_subtile_stream[{{i-1}}], arg{{global_arg.id}}_{{lh.kernel}}_in_subtile_stream[{{i}}], num_pkts);
                {% endif %}
            {% endfor %}
            {% for subtile in range((config["tile_banks"]/2)|int) %}
    kernel_{{lh.kernel}}_PE<{{(config["tile_banks"]/2)|int}}, {{subtile}}>(
                {{PEID_offset}}, {{i}}, 
                stencilConfig,
                {% for arg in lh.args| ops_dat | ops_read_or_rw %}
                    {% set global_arg = ilh.getArg(arg.dat_id) %}
                    {% if global_arg is not ops_read_or_rw %}
                        {% set global_arg = ilh.getSwapArg(global_arg) %}
                    {% endif %}
                    {% if loop.last %}
                        {% if consts_map[loop_idx] or lh.args|ops_gbl %}
                            {% set last_check = False %}
                        {% else %}
                            {% set last_check = True %}
                        {% endif %}
                    {% else %}
                        {% set last_check = False %}
                    {% endif %}
                arg{{global_arg.id}}_{{lh.kernel}}_in_subtile_stream[{{i}}][{{subtile*2}}],
                arg{{global_arg.id}}_{{lh.kernel}}_in_subtile_stream[{{i}}][{{subtile*2 + 1}}],
                arg{{ilh.getSwapArg(global_arg).id}}_{{lh.kernel}}_out_subtile_stream[{{i}}][{{subtile*2}}],
                arg{{ilh.getSwapArg(global_arg).id}}_{{lh.kernel}}_out_subtile_stream[{{i}}][{{subtile*2 + 1}}]{{"," if not last_check}}
                {% endfor %}
                {% for const_arg in lh.args|ops_gbl %}
                {{get_arg_gbl_name(const_arg)}}{{"," if (not loop.last or consts_map[loop_idx])}}
                {% endfor %}
                {% for const in consts_map[loop_idx] %}
                {{const.ptr}}{{"," if not loop.last}}
                {% endfor %}  
            );
            {% endfor %}
            {% for arg in lh.args| ops_dat | ops_read_or_rw %}
                    {% set global_arg = ilh.getArg(arg.dat_id) %}
                    {% if global_arg is not ops_read_or_rw %}
                        {% set global_arg = ilh.getSwapArg(global_arg) %}
                    {% endif %}
                {% if is_temporal_last == none or is_temporal_last == true %}
    ops::hls::interleave2stream<{{lmac.axis_data_width(ilh.getSwapArg(global_arg))}}, {{config["data_width"]}}, {{config["tile_banks"]}}, {{((lh.read_stencil.stencil_size.x - 1)/2)|int}}>(arg{{ilh.getSwapArg(global_arg).id}}_{{lh.kernel}}_out_subtile_stream[{{i}}], {{ilh.PE_args[loop_idx][arg.id][0]}}[1], num_pkts);
                {% endif %}
            {% endfor %}
        {% else %}
    kernel_{{lh.kernel}}_PE(
            {{PEID_offset}}, {{i}},
            stencilConfig,
            {% for (arg_str, direction) in ilh.PE_args[loop_idx]%}
                {% if loop.last %}
                    {% if consts_map[loop_idx] or lh.args|ops_gbl %}
                        {% set last_check = False %}
                    {% else %}
                        {% set last_check = True %}
                    {% endif %}
                {% else %}
                    {% set last_check = False %}
                {% endif %}
            {{arg_str}}{% if direction == 0 %}[{{i}}]{% elif direction == 1 %}[{{i}}+1]{% endif %}{{"," if not last_check}}
                {%if "arg" in arg_str %}
                    {% set _ = prev_arg_str.update({arg_str : 1}) %}
                {% endif %}
            {% endfor %}
            {% for const_arg in lh.args|ops_gbl %}
            {{get_arg_gbl_name(const_arg)}}{{"," if (not loop.last or consts_map[loop_idx])}}
            {% endfor %}
            {% for const in consts_map[loop_idx] %}
            {{const.ptr}}{{"," if not loop.last}}
            {% endfor %}
    );
        {% endif %}
    {% endfor %}
{% endmacro %}
{% block header_block %}
#include <ops_hls_kernel_support.h>
    {% if slr_iter_par_fact is defined %}
#include <kernel_outerloop_{{ilh.id}}_{{slr_iter_par_fact}}.hpp>
    {% else %}
#include <kernel_outerloop_{{ilh.id}}.hpp>
    {% endif %} 
{% endblock %}

{#% block joint_PE %}
static void joint_PE_outerloop_{{ilh.id}}(const unsigned short PEId, const ops::hls::{{"StencilConfigCoreSingleTile" if isTiling else "StencilConfigCore"}} stencilConfig, 
    {% if prog.is_interleave() %}
        const unsigned int num_pkts,
    {% endif %}
    {% for arg in ilh.joint_args|ops_not_idx %}
        {% if arg is ops_dat %}
            {% if arg is not ops_rw %}
        ::hls::stream<ap_uint<{{lmac.axis_data_width(arg)}}>>{%if not prog.is_interleave()%}&{%endif%} {{hls_name(arg)-}}{%if prog.is_interleave()%}[{{config["tile_banks"]}}]{%endif%}{{", " if not loop.last or consts }}
            {% else %}
        ::hls::stream<ap_uint<{{lmac.axis_data_width(arg)}}>>{%if not prog.is_interleave()%}&{%endif%} {{hls_name_t2(arg, "in")-}}{%if prog.is_interleave()%}[{{config["tile_banks"]}}]{%endif%}, 
        ::hls::stream<ap_uint<{{lmac.axis_data_width(arg)}}>>{%if not prog.is_interleave()%}&{%endif%} {{hls_name_t2(arg, "out")-}}{%if prog.is_interleave()%}[{{config["tile_banks"]}}]{%endif%}{{", " if not loop.last or consts }}
            {% endif %}
        {% elif arg is ops_gbl %}
        const {{arg.typ}}& {{get_arg_gbl_name(arg)}}{{", " if not loop.last or consts }}
        {% endif %}
    {% endfor %}
    {% for const in consts %}
        const {{const.typ}}& {{const.ptr}}{{", " if not loop.last }}
    {% endfor %})
{
    {% if ilh.get_active_df_graph().getAllLoopNodes()|length > 1 or prog.is_interleave() %}
#pragma HLS INLINE
    {% endif %}
    {% for stream_interconnector, dat_id in ilh.interconnectors %}
    ::hls::stream<ap_uint<{{lmac.axis_data_width_datid(dat_id)}}>> {{stream_interconnector}}{% if prog.is_interleave() %}[{{config["tile_banks"]}}]{% endif %};
    #pragma HLS STREAM variable = {{stream_interconnector}} depth = 10
    {% endfor %}

    {% for df_node in ilh.get_active_df_graph().getAllLoopNodes() %}
        {% set loop_idx = df_node.node_uid %}
        {% set lh = df_node.loop %}
        {% if prog.is_interleave() %}
            {% for arg_str in ilh.PE_args[loop_idx]%}
    ::hls::stream<ap_uint<half_axis_data_width_{{lh.kernel}}_{{loop.index0}}>> arg{{loop.index0}}_{{lh.kernel}}_subtile_stream[{{config["tile_banks"]}}];
    #pragma HLS STREAM variable = arg{{loop.index0}}_{{lh.kernel}}_subtile_stream depth = 10
            {% endfor %}
            {% for arg in lh.args| ops_dat | ops_read_or_rw %}
    ops::hls::stream2interleave<{{lmac.axis_data_width(arg)}}, {{config["data_width"]}}, {{config["tile_banks"]}}, {{((lh.read_stencil.stencil_size.x - 1)/2)|int}}>({{ilh.PE_args[loop_idx][arg.id]}}, arg{{arg.id}}_{{lh.kernel}}_subtile_stream, num_pkts);
            {% endfor %}
            {% for subtile in range((config["tile_banks"]/2)|int) %}
    kernel_{{lh.kernel}}_PE<{{(config["tile_banks"]/2)|int}}, {{subtile}}>(PEId, stencilConfig,
                {% for arg_str in ilh.PE_args[loop_idx]%}
                    {% if loop.last %}
                        {% if consts_map[loop_idx] or lh.args|ops_gbl %}
                            {% set last_check = False %}
                        {% else %}
                            {% set last_check = True %}
                        {% endif %}
                    {% else %}
                        {% set last_check = False %}
                    {% endif %}
                arg{{loop.index0}}_{{lh.kernel}}_subtile_stream[{{subtile*2}}],
                arg{{loop.index0}}_{{lh.kernel}}_subtile_stream[{{subtile*2 + 1}}]{{"," if not last_check}}
                {% endfor %}
                {% for const_arg in lh.args|ops_gbl %}
                {{get_arg_gbl_name(const_arg)}}{{"," if (not loop.last or consts_map[loop_idx])}}
                {% endfor %}
                {% for const in consts_map[loop_idx] %}
                {{const.ptr}}{{"," if not loop.last}}
                {% endfor %}  
            );
            {% endfor %}
            {% for arg in lh.args| ops_dat | ops_write_or_rw %}
    ops::hls::interleave2stream<{{lmac.axis_data_width(arg)}}, {{config["data_width"]}}, {{config["tile_banks"]}}, {{((lh.read_stencil.stencil_size.x - 1)/2)|int}}>(arg{{arg.id}}_{{lh.kernel}}_subtile_stream, {{ilh.PE_args[loop_idx][arg.id]}}, num_pkts);
            {% endfor %}
        {% else %}
    kernel_{{lh.kernel}}_PE(PEId, stencilConfig,
            {% for arg_str in ilh.PE_args[loop_idx]%}
                {% if loop.last %}
                    {% if consts_map[loop_idx] or lh.args|ops_gbl %}
                        {% set last_check = False %}
                    {% else %}
                        {% set last_check = True %}
                    {% endif %}
                {% else %}
                    {% set last_check = False %}
                {% endif %}
            {{arg_str}}{{"," if not last_check}}
            {% endfor %}
            {% for const_arg in lh.args|ops_gbl %}
            {{get_arg_gbl_name(const_arg)}}{{"," if (not loop.last or consts_map[loop_idx])}}
            {% endfor %}
            {% for const in consts_map[loop_idx] %}
            {{const.ptr}}{{"," if not loop.last}}
            {% endfor %}
    );
        {% endif %}
    {% endfor %}
}

{% endblock %#}

{% block kernel_dataflow_region %}

/*static void kernel_outerloop_{{ilh.id}}_dataflow_region_cascaded(const unsigned short slr_region, const ops::hls::{{"StencilConfigCoreSingleTile" if isTiling else "StencilConfigCore"}} stencilConfig,
    {% if prog.is_interleave() %}
        const unsigned int num_pkts,
    {% endif %}
    {#% for swap_pair in ilh.getUniqueDatSwapsIds() %}
    ::hls::stream<ap_uint<{{lmac.axis_data_width_datid(swap_pair[0])}}>> arg{{swap_pair[0]}}_arg{{swap_pair[1]}}_streams[{{(iter_par_factor())}} + 1]{% if prog.is_interleave() %}[{{config["tile_banks"]}}]{% endif %}{{", " if (not loop.last or consts or ilh.joint_args|ops_gbl)}}
    {% endfor %#}
    {#% for arg in ilh.joint_args|ops_dat %}
        {% if arg is not ops_rw %}
    ::hls::stream<ap_uint<{{lmac.axis_data_width(arg)}}>> {{lmac.hls_name(arg)-}}[{{(iter_par_factor())}} + 1]{% if prog.is_interleave() %}[{{config["tile_banks"]}}]{% endif %}{{", " if (not loop.last or consts or ilh.joint_args|ops_gbl)}}
        {% else %}
    ::hls::stream<ap_uint<{{lmac.axis_data_width(arg)}}>> {{lmac.hls_name_t2(arg, "in")-}}[{{(iter_par_factor())}} + 1]{% if prog.is_interleave() %}[{{config["tile_banks"]}}]{% endif %},
    ::hls::stream<ap_uint<{{lmac.axis_data_width(arg)}}>> {{lmac.hls_name_t2(arg, "out")-}}[{{(iter_par_factor())}} + 1]{% if prog.is_interleave() %}[{{config["tile_banks"]}}]{% endif %}{{", " if (not loop.last or consts or ilh.joint_args|ops_gbl)}}
        {% endif %}
    {% endfor %#}
    {% for arg in ilh.joint_args|ops_dat|ops_read_or_rw %}
    ::hls::stream<ap_uint<{{lmac.axis_data_width(arg)}}>> arg{{arg.id}}_arg{{ilh.getSwapArg(arg).id}}_streams[{{(iter_par_factor())}} + 1]{% if prog.is_interleave() %}[{{config["tile_banks"]}}]{% endif %}{{", " if (not loop.last or consts or ilh.joint_args|ops_gbl)}}
    {% endfor %}
    {% for const_arg in ilh.joint_args|ops_gbl%}
    const {{const_arg.typ}}& {{get_arg_gbl_name(const_arg)}}{{", " if (not loop.last or consts)}}
    {% endfor %}
    {% for const in consts %}
    const {{const.typ}}& {{const.ptr}}{{", " if not loop.last }}
    {% endfor %})
{
#pragma HLS INLINE 

    {% if slr_iter_par_fact is defined %}
    constexpr unsigned short PEId_offset = {{config["iter_par_factor"][:slr_iter_par_fact]|sum}};
    {% else %}
    const unsigned short PEId_offset = slr_region;
    {% endif %}
    {{joint_PE_body_p1()}}

    for (int i = 0; i < {{iter_par_factor()}}; i++)
    {
#pragma HLS UNROLL factor={{iter_par_factor()}}
        {{joint_PE_body_p2()}}
    }
}*/

{#template <unsigned short AXIS_DATA_WIDTH>
static void kernel_outerloop_{{ilh.id}}_axis_2_stream(::hls::stream<ap_axiu<AXIS_DATA_WIDTH, 0, 0, 0>>& in_strm, ::hls::stream<ap_uint<AXIS_DATA_WIDTH>>& out_strm,
        const unsigned int num_pkts, const unsigned int outer_itr) {
    for (unsigned int itr = 0; itr < outer_itr; itr++)
        ops::hls::axis2stream<AXIS_DATA_WIDTH>(in_strm, out_strm, num_pkts);
}

template <unsigned short AXIS_DATA_WIDTH>
static void kernel_outerloop_{{ilh.id}}_stream_2_axis(::hls::stream<ap_uint<AXIS_DATA_WIDTH>>& in_strm, ::hls::stream<ap_axiu<AXIS_DATA_WIDTH, 0, 0, 0>>& out_strm,
        const unsigned int num_pkts, const unsigned int outer_itr) {
    for (unsigned int itr = 0; itr < outer_itr; itr++)
        ops::hls::stream2axis<AXIS_DATA_WIDTH>(in_strm, out_strm, num_pkts);
}#}

static void kernel_outerloop_{{ilh.id}}_dataflow_region(const unsigned short slr_region, const ops::hls::{{"StencilConfigCoreSingleTile" if isTiling else "StencilConfigCore"}}& stencilConfig, const unsigned int num_pkts,
    {#% if ilh.isMultiDim() %}
        {% for m_dim in ilh.getMultidimList() %}
    const unsigned int num_pkts_d{{m_dim}},
        {% endfor %}
    {% endif %#}
    {% for arg in ilh.joint_args|ops_dat %}
        {% set first_loop_last = loop.last %}
        {% if arg is not ops_rw %}
            {% if prog.is_interleave() %}
                {% for tile in range(config["tile_banks"]) %}
        hls::stream <ap_axiu<{{lmac.axis_data_width(arg)}}, 0, 0, 0>>& {{lmac.axis_name_t3(arg,tile)-}}{{", " if (not (loop.last and first_loop_last) or consts or ilh.joint_args|ops_gbl)}}
                {% endfor %}
            {% else %}
        hls::stream <ap_axiu<{{lmac.axis_data_width(arg)}}, 0, 0, 0>>& {{lmac.axis_name(arg)-}}{{", " if (not loop.last or consts or ilh.joint_args|ops_gbl)}}
            {% endif %}
        {% else %}
            {% if prog.is_interleave() %}
                {% for tile in range(config["tile_banks"]) %}
        hls::stream <ap_axiu<{{lmac.axis_data_width(arg)}}, 0, 0, 0>>& {{lmac.axis_name_t3(arg, tile, "in")}},
                {% endfor %}
                {% for tile in range(config["tile_banks"]) %}
        hls::stream <ap_axiu<{{lmac.axis_data_width(arg)}}, 0, 0, 0>>& {{lmac.axis_name_t3(arg, tile, "out")-}}{{", " if (not (loop.last and first_loop_last) or consts or ilh.joint_args|ops_gbl)}}
                {% endfor %}
            {% else %}
        hls::stream <ap_axiu<{{lmac.axis_data_width(arg)}}, 0, 0, 0>>& {{lmac.axis_name_t2(arg, "in")-}},
        hls::stream <ap_axiu<{{lmac.axis_data_width(arg)}}, 0, 0, 0>>& {{lmac.axis_name_t2(arg, "out")-}}{{", " if (not loop.last or consts or ilh.joint_args|ops_gbl)}}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% for const_arg in ilh.joint_args|ops_gbl%}const {{const_arg.typ}}& {{get_arg_gbl_name(const_arg)}}{{", " if not loop.last or consts-}}{% endfor %}
    {% for const in consts %}const {{const.typ}}& {{const.ptr}}{{", " if not loop.last}}{% endfor %})
{
#pragma HLS DATAFLOW
    {% for arg in ilh.joint_args|ops_dat|ops_read_or_rw -%}
        {% if prog.is_interleave() %}
    ::hls::stream<ap_uint<{{lmac.axis_data_width(arg)}}>> {{internal_stream_name(arg)}}[2][{{config["tile_banks"]}}];
        {% else %}
    ::hls::stream<ap_uint<{{lmac.axis_data_width(arg)}}>> {{internal_stream_name(arg)}}[{{iter_par_factor()}} + 1];
        {% endif %}
    #pragma HLS ARRAY_PARTITION variable = {{internal_stream_name(arg)}} complete

    #pragma HLS STREAM variable = {{internal_stream_name(arg)}} depth = {{config["hls_interconnect_buff_size"]}}
    {% endfor %}
    
    {{joint_PE_body_p1()}}

    {% for arg in ilh.joint_args|ops_dat -%}
        {% if arg is ops_read %}
            {% if prog.is_interleave() %}
                {% for tile in range(config["tile_banks"]) %}
        ops::hls::axis2stream<{{lmac.axis_data_width(arg)}}>({{lmac.axis_name_t3(arg,tile)-}}, {{internal_stream_name(arg)}}[0][{{tile}}], num_pkts);
                {% endfor %}
            {% else %}
        ops::hls::axis2stream<{{lmac.axis_data_width(arg)}}>({{lmac.axis_name(arg)-}}, {{internal_stream_name(arg)}}[0], num_pkts);
            {% endif %}
        {% elif arg is ops_rw %}
            {% if prog.is_interleave() %}
                {% for tile in range(config["tile_banks"]) %}
        ops::hls::axis2stream<{{lmac.axis_data_width(arg)}}>({{lmac.axis_name_t3(arg,tile, "in")-}}, {{internal_stream_name(arg)}}[0][{{tile}}], num_pkts);
                {% endfor %}
            {% else %}
        ops::hls::axis2stream<{{lmac.axis_data_width(arg)}}>({{lmac.axis_name_t2(arg, "in")-}}, {{internal_stream_name(arg)}}[0], num_pkts);
            {% endif %}
        {% endif %}
    {% endfor %}

    /*    kernel_outerloop_{{ilh.id}}_dataflow_region_cascaded(slr_region, stencilConfig, 
    {% if prog.is_interleave() %}
        num_pkts,
    {% endif %}
    {#%- for swap_pair in ilh.getUniqueDatSwapsIds() -%}
        {% if loop.last %}
            {% if consts or ilh.joint_args|ops_gbl %}
                {% set last_check = False %}
            {% else %}
                {% set last_check = True %}
            {% endif %}
        {% else %}
            {% set last_check = False %}
        {% endif %}
 arg{{swap_pair[0]}}_arg{{swap_pair[1]}}_streams{{"," if not last_check}}
    {%- endfor -%#}
    {%- for arg in ilh.joint_args|ops_dat|ops_read_or_rw -%}
        {% if loop.last %}
            {% if consts or ilh.joint_args|ops_gbl %}
                {% set last_check = False %}
            {% else %}
                {% set last_check = True %}
            {% endif %}
        {% else %}
            {% set last_check = False %}
        {% endif %}
    {{internal_stream_name(arg)}}{{"," if not last_check}}
    {%- endfor -%}
    {%- for const_arg in ilh.joint_args|ops_gbl -%}
{{get_arg_gbl_name(const_arg)}}{{", " if not loop.last or consts}}
    {%- endfor -%}
    {% for const in consts -%}
 {{const.ptr}}{{", " if not loop.last }}
    {%- endfor -%}); */

    {% if slr_iter_par_fact is defined  %}
    {% set iter_par_factor_tmp = slr_iter_par_fact %}
    {% else %}
    {% set iter_par_factor_tmp = config["iter_par_factor"]%}
    {% endif %}
    {% for i in range(iter_par_factor_tmp)%}
        {% if slr_iter_par_fact is defined %}
            {% set slr_offset_tmp = config["iter_par_factor"][:slr_iter_par_fact]|sum%}
        {% else %}
            {% set slr_offset_tmp = 'slr_region'%}
        {% endif %}
        {{joint_PE_body_p2(i, slr_offset_tmp, loop.first, loop.last)}}
    {% endfor %}

    {% for arg in ilh.joint_args|ops_dat -%}
        {% if arg is ops_write %}
            {% if prog.is_interleave() %}
                {% for tile in range(config["tile_banks"]) %}
        ops::hls::stream2axis<{{lmac.axis_data_width(arg)}}>({{internal_stream_name(arg)}}[1][{{tile}}], {{lmac.axis_name_t3(arg,tile)-}},  num_pkts);
                {% endfor %}
            {% else %}
        ops::hls::stream2axis<{{lmac.axis_data_width(arg)}}>({{internal_stream_name(arg)}}[{{iter_par_factor()}}], {{lmac.axis_name(arg)-}},  num_pkts);
            {% endif %}
        {% elif arg is ops_rw %}
            {% if prog.is_interleave() %}
                {% for tile in range(config["tile_banks"]) %}
        ops::hls::stream2axis<{{lmac.axis_data_width(arg)}}>({{internal_stream_name(arg)}}[1][{{tile}}], {{lmac.axis_name_t3(arg,tile< "out")-}},  num_pkts);
                {% endfor %}
            {% else %}
        ops::hls::stream2axis<{{lmac.axis_data_width(arg)}}>({{internal_stream_name(arg)}}[{{iter_par_factor()}}], {{lmac.axis_name_t2(arg, "out")-}}, num_pkts);
            {% endif %}
        {% endif %}
    {% endfor %}

}
{% endblock %}

{% block kernel_main_loop_region %}
static void kernel_outerloop_{{ilh.id}}_main_region(const unsigned short slr_region, const unsigned int outer_itr, const ops::hls::{{"StencilConfigCoreTiled" if isTiling else "StencilConfigCore"}}& stencilConfig, 
    {% if not isTiling -%}
        const unsigned int num_pkts,
        {#% if ilh.isMultiDim() -%}
            {%- for m_dim in ilh.getMultidimList() -%}
        const unsigned int num_pkts_d{{m_dim}}, 
            {%- endfor -%}
        {%- endif -%#}
    {%- endif %}
    {% for arg in ilh.joint_args|ops_dat %}
        {% set first_loop_last = loop.last %}
        {% if arg is not ops_rw %}
            {% if prog.is_interleave() %}
                {% for tile in range(config["tile_banks"]) %}
        hls::stream <ap_axiu<{{lmac.axis_data_width(arg)}}, 0, 0, 0>>& {{lmac.axis_name_t3(arg,tile)-}}{{", " if (not (loop.last and first_loop_last) or consts or ilh.joint_args|ops_gbl)}}
                {% endfor %}
            {% else %}
        hls::stream <ap_axiu<{{lmac.axis_data_width(arg)}}, 0, 0, 0>>& {{lmac.axis_name(arg)-}}{{", " if (not loop.last or consts or ilh.joint_args|ops_gbl)}}
            {% endif %}
        {% else %}
            {% if prog.is_interleave() %}
                {% for tile in range(config["tile_banks"]) %}
       hls::stream <ap_axiu<{{lmac.axis_data_width(arg)}}, 0, 0, 0>>& {{lmac.axis_name_t3(arg, tile, "in")-}},
                {% endfor %}
                {% for tile in range(config["tile_banks"]) %}
       hls::stream <ap_axiu<{{lmac.axis_data_width(arg)}}, 0, 0, 0>>& {{lmac.axis_name_t3(arg, tile, "out")-}}{{", " if (not (loop.last and first_loop_last) or consts or ilh.joint_args|ops_gbl)}}
                {% endfor %}
            {% else %}
        hls::stream <ap_axiu<{{lmac.axis_data_width(arg)}}, 0, 0, 0>>& {{lmac.axis_name_t2(arg, "in")-}},
        hls::stream <ap_axiu<{{lmac.axis_data_width(arg)}}, 0, 0, 0>>& {{lmac.axis_name_t2(arg, "out")-}}{{", " if (not loop.last or consts or ilh.joint_args|ops_gbl)}}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% for const_arg in ilh.joint_args|ops_gbl%}
        const {{const_arg.typ}}& {{get_arg_gbl_name(const_arg)}}{{", " if not loop.last or consts}}
    {% endfor %}
    {% for const in consts %}
        const {{const.typ}}& {{const.ptr}}{{", " if not loop.last }}
    {% endfor %}
    )
{
    {%if isTiling %}
    const unsigned short total_tiles = stencilConfig.tile_count[0] * stencilConfig.tile_count[1];
    unsigned short tile_x = 0;
        {% if ndim == 3 %}
    unsigned short tile_y = 0;
	const unsigned short z_diff = stencilConfig.outer_loop_limit - 1;
        {% else %}
    const unsigned short y_diff = stencilConfig.outer_loop_limit - 1;
        {% endif %}
    {% endif %}

    for (unsigned int i = 0; i < outer_itr; i++)
    {
    {% if isTiling %}
        for (unsigned short tile_id = 0; tile_id < total_tiles; tile_id++)
        {
    //#pragma HLS PIPELINE
            if (tile_id > 0) {
                tile_x++;
                if (tile_x >= stencilConfig.tile_count[0]) {
                    tile_x = 0;
        {% if ndim == 3 %}
                    tile_y++;
        {% endif %}
                }
            } 

            const unsigned short tile_size_x = tile_x == (stencilConfig.tile_count[0] -1) ? stencilConfig.last_tile_size[0] : stencilConfig.tile_size[0];
        {% if ndim == 3 %}
            const unsigned short tile_size_y = tile_y == (stencilConfig.tile_count[1] -1) ? stencilConfig.last_tile_size[1] : stencilConfig.tile_size[1];
            {% if prog.is_interleave() %}
            bool small_tile = tile_size_x <= {{(config["tile_banks"]/2)|int}};
            const unsigned int tile_size_y_mul_z_diff = tile_size_y * z_diff;
            {% if config["vector_factor"] < config["mem_vector_factor"] %}
            const unsigned int mem_tile_size_x = tile_size_x >> {{log2(config["mem_vector_factor"]/config["vector_factor"])|int}};
            const unsigned int widen_tile_size_x = ((mem_tile_size_x + {{(config["tile_banks"]) - 1}}) >> {{log2(config["tile_banks"])|int}}) << {{log2(config["mem_vector_factor"]/config["vector_factor"])|int}};
            {% else %}
            const unsigned int widen_tile_size_x = (tile_size_x + {{(config["tile_banks"]) - 1}}) >> {{log2(config["tile_banks"])|int}};
            {% endif %}
            {#const unsigned int adj_widen_tile_size_x = small_tile ? widen_tile_size_x << 1 : widen_tile_size_x;#}
            const unsigned int num_pkts_div_by_banks = widen_tile_size_x * tile_size_y_mul_z_diff;
            {% else %}
            const unsigned int num_pkts = tile_size_x * tile_size_y * z_diff;
            {% endif %}
        {% else %}
            {% if prog.is_interleave() %}
            bool small_tile = tile_size_x =< {{(config["tile_banks"]/2)|int}}; 
            {% if config["vector_factor"] < config["mem_vector_factor"] %}
            const unsigned int mem_tile_size_x = tile_size_x >> {{log2(config["mem_vector_factor"]/config["vector_factor"])|int}};
            const unsigned int widen_tile_size_x = ((mem_tile_size_x + {{(config["tile_banks"]) - 1}}) >> {{log2(config["tile_banks"])|int}}) << {{log2(config["mem_vector_factor"]/config["vector_factor"])|int}};
            {% else %}
            const unsigned int widen_tile_size_x = (tile_size_x + {{(config["tile_banks"]) - 1}}) >> {{log2(config["tile_banks"])|int}};
            {% endif %}
            {#const unsigned int adj_widen_tile_size_x = small_tile ? widen_tile_size_x << 1 : widen_tile_size_x;#}
            const unsigned int num_pkts_div_by_banks = widen_tile_size_x * y_diff;
            {% else %}
            const unsigned int num_pkts = tile_size_x * y_diff;
            {% endif %}
        {% endif %}
        {#% if ilh.isMultiDim() %}
            {% for m_dim in ilh.getMultidimList() %}
            const unsigned int num_pkts_d{{m_dim}} = num_pkts * {{m_dim}};
            {% endfor %}
        {% endif %#}

        #ifdef DEBUG_LOG
            printf("[KERNEL_DEBUG]|%s| \n===============================\n", __func__);
            printf("[KERNEL_DEBUG]|%s| tile_size_x: %d\n", __func__, tile_size_x);
        {% if ndim == 3 %}
            printf("[KERNEL_DEBUG]|%s| tile_size_y: %d\n", __func__, tile_size_y);
        {% endif %}
        {% if prog.is_interleave() %}
            printf("[KERNEL_DEBUG]|%s| widen_tile_size_x: %d\n", __func__, widen_tile_size_x);
            printf("[KERNEL_DEBUG]|%s| num_pkts_div_bank: %d\n", __func__, num_pkts_div_by_banks);
        {% endif %}
            printf("[KERNEL_DEBUG]|%s| ===============================\n", __func__);
        #endif
            //const ops::hls::StencilConfigCoreSingleTile tileConfig = ops::hls::stencilConfigCoreSingleTileGen{%if ndim == 3 %}3D{%else%}2D{%endif%}(stencilConfig, tile_x//{%if ndim == 3 %}, tile_y{%endif%});
            ops::hls::StencilConfigCoreSingleTile tileConfig;
            tileConfig.dim = stencilConfig.dim;
            const bool is_last_tile_x = (tile_x == stencilConfig.tile_count[0] - 1);
            {% if ndim == 3 %}
            const bool is_last_tile_y = (tile_y == stencilConfig.tile_count[1] - 1);
            {% endif %}
            tileConfig.tile_size[0] = {%if prog.is_interleave() %}widen_tile_size_x{% else %}tile_size_x{% endif %};
            {% if ndim == 3 %}
            tileConfig.tile_size[1] = tile_size_y;
            {% else %}
            tileConfig.tile_size[1] = stencilConfig.grid_size[1];
            {% endif %}
            tileConfig.tile_size[2] = stencilConfig.grid_size[2];
            tileConfig.outer_loop_limit = stencilConfig.outer_loop_limit;
            //tileConfig.is_tiled[0] = stencilConfig.tile_count[0] > 1;
            //tileConfig.is_tiled[1] = stencilConfig.tile_count[1] > 1;
            tileConfig.is_first[0] = tile_x == 0;
            {% if ndim == 3 %}
            tileConfig.is_first[1] = tile_y == 0;
            {% else %}
            tileConfig.is_first[1] = true;
            {% endif %}
            tileConfig.is_last[0] = is_last_tile_x;
            {% if ndim == 3 %}
            tileConfig.is_last[1] = is_last_tile_y;
            {% else %}
            tileConfig.is_last[1] = true;
            {% endif %}
            tileConfig.last_tile_upper_limit_x = stencilConfig.last_tile_upper_limit_x;
            tileConfig.line_diff = widen_tile_size_x - 1;
            {% if ndim == 3 %}
            tileConfig.plane_diff = widen_tile_size_x * tile_size_y - 1;
            {% else %}
            tileConfig.plane_diff = 0;
            {% endif %}
    
    #ifdef DEBUG_LOG
            printf("[KERNEL_DEBUG]|%s| \n=== StencilConfigCoreSingleTile ======\n", __func__);
            printf("[KERNEL_DEBUG]|%s| tile_size: (%d, %d, %d)\n", __func__, tileConfig.tile_size[0], tileConfig.tile_size[1], tileConfig.tile_size[2]);
            printf("[KERNEL_DEBUG]|%s| dim: %d\n", __func__, tileConfig.dim);
            printf("[KERNEL_DEBUG]|%s| outer_loop_limit: %d\n", __func__, tileConfig.outer_loop_limit); 
            printf("[KERNEL_DEBUG]|%s| last_tile_upper_limit_x: %d\n", __func__, tileConfig.last_tile_upper_limit_x); 
            printf("[KERNEL_DEBUG]|%s| is_first: (%d,%d) \n", __func__, tileConfig.is_first[0], tileConfig.is_first[1]); 
            printf("[KERNEL_DEBUG]|%s| is_last: (%d,%d) \n", __func__, tileConfig.is_last[0], tileConfig.is_last[1]);
            printf("[KERNEL_DEBUG]|%s| ===============================\n", __func__);
    #endif 
    {% endif %}

            kernel_outerloop_{{ilh.id}}_dataflow_region(slr_region, {% if isTiling %}tileConfig{% else %}stencilConfig{% endif %}, 
                {% if prog.is_interleave() %}
                num_pkts_div_by_banks,
                {% else %}
                num_pkts,
                {% endif %} 
                {#%if ilh.isMultiDim() -%}{% for m_dim in ilh.getMultidimList() -%}num_pkts_d{{m_dim}}, {% endfor -%} {% endif -%#}
                {% for arg in ilh.joint_args|ops_dat -%}
                {% set first_loop_last = loop.last %}
                    {% if arg is not ops_rw %}
                        {% if prog.is_interleave() %}
                            {% for tile in range(config["tile_banks"]) %}
                {{lmac.axis_name_t3(arg,tile)-}}{{", " if not (loop.last and first_loop_last) or consts or ilh.joint_args|ops_gbl }}
                            {% endfor %}
                        {% else %}
                {{lmac.axis_name(arg)-}}{{", " if not loop.last or consts or ilh.joint_args|ops_gbl }}
                        {% endif %}
                    {% else %}
                        {% if prog.is_interleave() %}
                            {% for tile in range(config["tile_banks"]) %}
                {{lmac.axis_name_t3(arg,tile,"in")-}},
                            {% endfor %}
                            {% for tile in range(config["tile_banks"]) %}
                {{lmac.axis_name_t3(arg,tile,"out")-}}{{", " if not (loop.last and first_loop_last) or consts or ilh.joint_args|ops_gbl -}}
                            {% endfor %}
                        {% else %}
                {{lmac.axis_name_t2(arg, "in")-}}, 
                {{lmac.axis_name_t2(arg, "out")-}}{{", " if not loop.last or consts or ilh.joint_args|ops_gbl-}}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% for const_arg in ilh.joint_args|ops_gbl %}{{get_arg_gbl_name(const_arg)}}{{", " if not loop.last or consts-}}{% endfor %}
                {% for const in consts %}{{const.ptr}}{{", " if not loop.last-}}{% endfor %});
    {% if isTiling %}
        }
        tile_x = 0;
        {% if ndim == 3 %}
        tile_y = 0;
        {% endif %}
    {% endif %}
    }
}
{% endblock %}

{% block kernel_top_prototype %}
{{super()}}
{% endblock %}
{% block kernel_top_body %}
{
    #pragma HLS INTERFACE s_axilite port = slr_region bundle = control
    #pragma HLS INTERFACE s_axilite port = outer_itr bundle = control

    {% for i in range(ndim)%}
    #pragma HLS INTERFACE s_axilite port = stencilConfig_grid_size_{{i}} bundle = control

    {% endfor %}
    {#{% for i in range(ndim)%}
    #pragma HLS INTERFACE s_axilite port = gridProp_actual_size_{{i}} bundle = control
    {% endfor %}
    {% for i in range(ndim)%}
    #pragma HLS INTERFACE s_axilite port = gridProp_grid_size_{{i}} bundle = control
    {% endfor %}#}
    #pragma HLS INTERFACE s_axilite port = stencilConfig_dim bundle = control
    #pragma HLS INTERFACE s_axilite port = stencilConfig_total_itr bundle = control

#ifndef OPS_TILING
    {% for i in range(ndim)%}
    #pragma HLS INTERFACE s_axilite port = stencilConfig_lower_limit_{{i}} bundle = control

    {% endfor %}
    {% for i in range(ndim)%}
    #pragma HLS INTERFACE s_axilite port = stencilConfig_upper_limit_{{i}} bundle = control

    {% endfor %}
#endif
    #pragma HLS INTERFACE s_axilite port = stencilConfig_outer_loop_limit bundle = control
#ifndef OPS_TILING
    #pragma HLS INTERFACE s_axilite port = stencilConfig_batch_size bundle = control
#else

    {% if ndim == 3 %}
    #pragma HLS INTERFACE s_axilite port = tile_size_x bundle = control
    #pragma HLS INTERFACE s_axilite port = tile_size_y bundle = control
    #pragma HLS INTERFACE s_axilite port = last_tile_size_x bundle = control
    #pragma HLS INTERFACE s_axilite port = last_tile_size_y bundle = control
    #pragma HLS INTERFACE s_axilite port = tile_count_x bundle = control
    #pragma HLS INTERFACE s_axilite port = tile_count_y bundle = control
    #pragma HLS INTERFACE s_axilite port = total_xblocks bundle = control
    #pragma HLS INTERFACE s_axilite port = last_tile_upper_limit_x bundle = control

    {% else %}
    #pragma HLS INTERFACE s_axilite port = tile_size_x bundle = control
    #pragma HLS INTERFACE s_axilite port = last_tile_size_x bundle = control
    #pragma HLS INTERFACE s_axilite port = tile_count_x bundle = control
    #pragma HLS INTERFACE s_axilite port = total_xblocks bundle = control
    #pragma HLS INTERFACE s_axilite port = last_tile_upper_limit_x bundle = control

    {% endif %}
#endif
    {% for const_arg in ilh.joint_args|ops_gbl%}
    #pragma HLS INTERFACE s_axilite port = {{get_arg_gbl_name(const_arg)}} bundle = control

    {% endfor %}    
    {% for const in consts %}
    #pragma HLS INTERFACE s_axilite port = {{const.ptr}} bundle = control

    {% endfor %}

    {% for arg in ilh.joint_args|ops_dat %}
        {% if arg is not ops_rw %}
            {% if prog.is_interleave() %}
                {% for tile in range(config["tile_banks"]) %}
    #pragma HLS INTERFACE axis port = {{lmac.axis_name_t3(arg, tile)}} register {#register_mode=both#}

                {% endfor %}
            {% else %}
    #pragma HLS INTERFACE axis port = {{lmac.axis_name(arg)}} register {#register_mode=both#}

            {% endif %}
        {% else %}
            {% if prog.is_interleave() %}
                {% for tile in range["tile_banks"] %}
    #pragma HLS INTERFACE axis port = {{lmac.axis_name_t3(arg, tile, "in")}} register {#register_mode=both#}
                {% endfor %}
                {% for tile in range["tile_banks"] %}
    #pragma HLS INTERFACE axis port = {{lmac.axis_name_t3(arg, tile, "out")}} register {#register_mode=both#}
                {% endfor %}
            {% else %}
    #pragma HLS INTERFACE axis port = {{lmac.axis_name_t2(arg, "in")}} register {#register_mode=both#}
    #pragma HLS INTERFACE axis port = {{lmac.axis_name_t2(arg, "out")}} register {#register_mode=both#}
            {% endif %}
        {% endif %}
    {% endfor %}

    #pragma HLS INTERFACE ap_ctrl_chain port = return
    #pragma HLS INTERFACE s_axilite port = return bundle = control   

    {% if not isTiling %}
    ops::hls::StencilConfigCore stencilConfig;
    {% else %}
    ops::hls::StencilConfigCoreTiled stencilConfig;
    {% endif %}

    stencilConfig.dim = stencilConfig_dim;
    {% for i in range(ndim)%}
    stencilConfig.grid_size[{{i}}] = stencilConfig_grid_size_{{i}};
    {% endfor %}
    {% if not isTiling %}
        {% for i in range(ndim)%}
    stencilConfig.lower_limit[{{i}}] = stencilConfig_lower_limit_{{i}};
        {% endfor %}
        {% for i in range(ndim)%}
    stencilConfig.upper_limit[{{i}}] = stencilConfig_upper_limit_{{i}};
        {% endfor %}
    stencilConfig.total_itr = stencilConfig_total_itr;
    {% endif %}
    stencilConfig.outer_loop_limit = stencilConfig_outer_loop_limit;
    {% if not isTiling %}
    stencilConfig.batch_size = stencilConfig_batch_size;
    stencilConfig.line_diff = stencilConfig_grid_size_0 - 1;
        {% if ndim == 3 %}
    stencilConfig.plane_diff = stencilConfig_grid_size_0 * stencilConfig_grid_size_1 - 1;
        {% else %}
    stencilConfig.plane_diff = 0;
        {% endif %}
    {% else %}
    stencilConfig.tiling_dim = {{2 if ndim == 3 else 1}};
    stencilConfig.tile_size[0] = tile_size_x;
    stencilConfig.tile_size[1] = {% if ndim == 3 %}tile_size_y{% else %}1{% endif %};
    stencilConfig.last_tile_size[0] = last_tile_size_x;
    stencilConfig.last_tile_size[1] = {% if ndim == 3 %}last_tile_size_y{% else %}1{% endif %};
    stencilConfig.tile_count[0] = tile_count_x;
    stencilConfig.tile_count[1] = {% if ndim == 3 %}tile_count_y{% else %}1{% endif %};
    stencilConfig.last_tile_upper_limit_x = last_tile_upper_limit_x;
    {% endif %}
    {% if not isTiling %}
    //constexpr unsigned short num_of_pkts_per_beat = mem_data_width / axis_data_width;
    // unsigned int tmp1 = stencilConfig_batch_size; //this cause 2 DSP! 
    // unsigned int tmp2 = stencilConfig_total_itr;
    // unsigned int num_pkts = tmp1 * tmp2;
    unsigned int num_pkts = stencilConfig_batch_size * stencilConfig_total_itr;
        {#% if ilh.isMultiDim() %}
            {% for m_dim in ilh.getMultidimList() %}
    unsigned int num_pkts_d{{m_dim}} = num_pkts * {{m_dim}};
            {% endfor %}
        {% endif %#}
    {% else %}
    //constexpr unsigned short num_of_pkts_per_beat = mem_data_width / axis_data_width;
    //constexpr unsigned short bytes_per_pkt = sizeof(stencil_type) * vector_factor;
    const unsigned int num_beats = total_xblocks;
    const unsigned int num_pkts = num_beats * num_of_pkts_per_beat;
    //const unsigned int total_bytes = num_pkts * bytes_per_pkt;
    {% endif %}

#ifdef DEBUG_LOG
    {% if not isTiling %}
    unsigned int num_beats = num_pkts / num_of_pkts_per_beat;
    {% endif %}
    printf("[KERNEL_DEBUG]|%s| num_beats: %d, num_pkts: %d\n", __func__,
         num_beats, num_pkts);
    {#% if ilh.isMultiDim() %}
        {% for m_dim in ilh.getMultidimList() %}
    printf("[KERNEL_DEBUG]|%s| num_pkts_d{{m_dim}}: %d\n", __func__, num_pkts_d{{m_dim}});
        {% endfor %}
    {% endif %#}
    {% if not isTiling %}
    printf("[KERNEL_DEBUG]|%s| stencilConfig: dim: %hu, grid_size:(%d,%d,%d), lower_limit:(%d,%d,%d), upper_limit:(%d,%d,%d), \
            total_itr: %d, outer_loop_limit: %d, batch_size: %d\n", __func__,
        stencilConfig.dim,
        stencilConfig.grid_size[0], stencilConfig.grid_size[1], stencilConfig.grid_size[2],
        stencilConfig.lower_limit[0], stencilConfig.lower_limit[1], stencilConfig.lower_limit[2],
        stencilConfig.upper_limit[0], stencilConfig.upper_limit[1], stencilConfig.upper_limit[2],
        stencilConfig.total_itr,
        stencilConfig.outer_loop_limit,
        stencilConfig.batch_size);
    {% else %}

    printf("[KERNEL_DEBUG]|%s| stencilConfig: dim: %hu, grid_size:(%d,%d,%d), outer_loop_limit: %d, tiling_dim: %hu, tile_size:(%d,%d),\
        last_tile_size:(%d,%d), tile_count:(%d,%d)\n, total_xblocks: %d\n", __func__,
        stencilConfig.dim,
        stencilConfig.grid_size[0], stencilConfig.grid_size[1], stencilConfig.grid_size[2],
        stencilConfig.outer_loop_limit,
        stencilConfig.tiling_dim,
        stencilConfig.tile_size[0], stencilConfig.tile_size[1],
        stencilConfig.last_tile_size[0], stencilConfig.last_tile_size[1],
        stencilConfig.tile_count[0], stencilConfig.tile_count[1], total_xblocks);
    {% endif %}
#endif

#ifdef DEBUG_LOG
    printf("[KERNEL_DEBUG]|%s| Starting outerloop_{{ilh.id}} kernel TOP \n", __func__);
#endif

    kernel_outerloop_{{ilh.id}}_main_region(slr_region, outer_itr, stencilConfig, 
            {%if not isTiling%}num_pkts, 
                {#%if ilh.isMultiDim() -%}{% for m_dim in ilh.getMultidimList() -%}num_pkts_d{{m_dim}}, {% endfor -%} {% endif -%#}
            {%endif%}
            {% for arg in ilh.joint_args|ops_dat -%}
                {% set first_loop_last = loop.last %}
                {% if arg is not ops_rw %}
                    {% if prog.is_interleave() %}
                        {% for tile in range(config["tile_banks"]) %}
                {{lmac.axis_name_t3(arg,tile)-}}{{", " if not (loop.last and first_loop_last) or consts or ilh.joint_args|ops_gbl }}
                        {% endfor %}
                    {% else %}
                {{lmac.axis_name(arg)-}}{{", " if not loop.last or consts or ilh.joint_args|ops_gbl }}
                    {% endif %}
                {% else %}
                    {% if prog.is_interleave() %}
                        {% for tile in range(config["tile_banks"]) %}
                {{lmac.axis_name_t3(arg,tile,"in")-}},
                        {% endfor %}
                        {% for tile in range(config["tile_banks"]) %}
                {{lmac.axis_name_t3(arg,tile,"out")-}}{{", " if not (loop.last and first_loop_last) or consts or ilh.joint_args|ops_gbl }}
                        {% endfor %}
                    {% else %}
                {{lmac.axis_name_t2(arg, "in")-}}, 
                {{lmac.axis_name_t2(arg, "out")-}}{{", " if not loop.last or consts or ilh.joint_args|ops_gbl}}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for const_arg in ilh.joint_args|ops_gbl %}{{get_arg_gbl_name(const_arg)}}{{", " if not loop.last or consts }}{% endfor %}
            {% for const in consts %}{{const.ptr}}{{", " if not loop.last }}{% endfor %});

#ifdef DEBUG_LOG
    printf("[KERNEL_DEBUG]|%s| Ending outerloop_{{ilh.id}} kernel TOP \n", __func__);
#endif
}
{% endblock %}
{% block kernel_top_prototype_semicolon %}
{% endblock %}