{% import "cpp/hls/stencil_config_macros.j2" as sconf with context %}

{%- macro hls_stream_name(arg) -%}
    {%- if arg is not ops_rw -%}
arg{{arg.id}}_{{"rd" if (arg is ops_read) else ("wr" if (arg is ops_write))}}_buffer
    {%- endif -%}
{%- endmacro -%}

{%- macro hls_stream_name_t2(arg, suffix) -%}
arg{{arg.id}}_{{suffix}}_buffer
{%- endmacro -%}

{%- macro buffer_read_idx(buffer) -%}
    {%- if buffer.is_read_write_aligned -%}
{{buffer.name}}_rd_wr {%- else -%}{{buffer.name}}_rd {%- endif -%}
{%- endmacro -%}

{%- macro buffer_write_idx(buffer) -%}
    {%- if buffer.is_read_write_aligned -%}
{{buffer.name}}_rd_wr {%- else -%}{{buffer.name}}_wr {%- endif -%}
{%- endmacro -%}

{%- macro chainLinkTranform(link, arg, isread) -%}
    {%- if link is number -%}
arg{{arg.id}}_widenStencilValues[{{link}}]
    {%- elif link is window_buffer -%}
        {%- if isread -%}
arg{{arg.id}}_{{link.name}}[{{arg.stencil_ptr}}_{{buffer_read_idx(link)}}]
        {%- else -%}
arg{{arg.id}}_{{link.name}}[{{arg.stencil_ptr}}_{{buffer_read_idx(link)}}]
        {%- endif -%}
    {%- else -%}
arg{{arg.id}}_{{link}}
    {%- endif -%}
{%- endmacro -%}

{%- macro vector_factor_name(arg) -%}
vector_factor_{{lh.kernel}}_{{arg.id}}
{%- endmacro -%}

{%- macro vector_factor(arg) -%}
    {%- if prog.is_interleave() -%}
{{(config["vector_factor"] * 2)}}
    {%- else -%}
{{config["vector_factor"]}}
    {%- endif -%}
{%- endmacro -%}

{%- macro axis_data_width_name(arg) -%}
axis_data_width_{{lh.kernel}}_{{arg.id}}
{%- endmacro -%}

{%- macro widen_dt_name(arg) -%}
widen_{{lh.kernel}}_{{arg.id}}_dt
{%- endmacro -%}

{%- macro widen_stream_dt_name(arg) -%}
widen_stream_{{lh.kernel}}_{{arg.id}}_dt
{%- endmacro -%}

{% set read_stencil = lh.get_read_stencil(prog) %}
{% set span_x = (read_stencil.stencil_size.x - 1) | int %}
{% set half_span_x = (span_x / 2) | int %}
{% set widen_span_x = (widen_read_stencil_desc.widen_stencil.stencil_size.x - 1) | int%}
{% set widen_half_span_x = (widen_span_x / 2) | int %}

{% block header_block %}
#ifndef __LOOP_PE_{{lh.kernel|upper}}__
#define __LOOP_PE_{{lh.kernel|upper}}__
{% if target == "hls" %}
#include <ops_hls_kernel_support.h>
{% else %}
#include <ops_tapa_kernel_support.h>
{% endif %}
#include "../../common/include/common_config.hpp"

 
{% set widen_read_stencil = widen_read_stencil_desc.widen_stencil %}
{% if widen_read_stencil is not none %}
static constexpr unsigned short read_num_points_{{lh.kernel}} = {{widen_read_stencil.num_points}};
static constexpr unsigned short read_stencil_size_{{lh.kernel}} = {{widen_read_stencil.stencil_size.x}};
static constexpr unsigned short read_stencil_dim_{{lh.kernel}} = {{widen_read_stencil.dim}};
{% endif %}

static constexpr unsigned short write_num_points_{{lh.kernel}} = 1;
static constexpr unsigned short write_stencil_size_{{lh.kernel}} = 1;
static constexpr unsigned short write_stencil_dim_{{lh.kernel}} = {{lh.ndim}};

{% if prog.is_interleave() %}
static constexpr unsigned short adj_vector_factor = vector_factor * {{config["tile_banks"]}};
static constexpr unsigned short adj_shift_bits = {{log2(config["vector_factor"] * config["tile_banks"])|int}};
static constexpr unsigned short sub_tile_pe_count = {{(config["tile_banks"]/2)|int}};
static constexpr unsigned short sub_shift_bits = {{(log2(config["tile_banks"]) - 1)|int}};
static constexpr unsigned short subtile_vector_factor = adj_vector_factor >> sub_shift_bits;
static constexpr unsigned short subtile_full_vector_factor = subtile_vector_factor + {{(lh.read_stencil.stencil_size.x - 1)}};
static constexpr unsigned short subtile_full_vector_factor_min_hs = subtile_vector_factor + {{((lh.read_stencil.stencil_size.x - 1)/2)|int}};
{% endif %}
{% for arg in lh.args | ops_dat%}
static constexpr unsigned short {{vector_factor_name(arg)}} = (vector_factor {% if prog.is_interleave() %} * 2 + {{(lh.read_stencil.stencil_size.x - 1)}}{% endif %}) * {{lh.dats[arg.dat_id].dim}};
static constexpr unsigned short {{axis_data_width_name(arg)}} = ({{vector_factor_name(arg)}} * data_width);
    {% if prog.is_interleave() %}
static constexpr unsigned short {{axis_data_width_name(arg)}}_min_1 = {{axis_data_width_name(arg)}} - 1;
    {% endif %}
    {% if target == "hls" %}
typedef ap_uint<{{axis_data_width_name(arg)}}> {{widen_dt_name(arg)}};
    {% else %}
typedef ::tapa::vec_t<stencil_type, {{vector_factor_name(arg)}}> {{widen_dt_name(arg)}};
    {% endif %}
    {% if prog.is_interleave() %}
        {% if target == "hls" %}
static constexpr unsigned short half_{{axis_data_width_name(arg)}} = ({{vector_factor_name(arg)}} * data_width) >> 1;
static constexpr unsigned short half_{{axis_data_width_name(arg)}}_min_1 = half_{{axis_data_width_name(arg)}} - 1;
typedef ap_uint<half_{{axis_data_width_name(arg)}}> half_{{widen_dt_name(arg)}};
        {% else %}
static constexpr unsigned short half_{{vector_factor_name(arg)}} = {{vector_factor_name(arg)}} >> 1;
# static constexpr unsigned short half_{{axis_data_width_name(arg)}}_min_1 = half_{{axis_data_width_name(arg)}} - 1;
typedef ::tapa::vec_t<stencil_type, half_{{vector_factor_name(arg)}}> half_{{widen_dt_name(arg)}};
        {% endif %}
    {% endif %}
{% endfor %} 
{% for arg in lh.args | ops_dat%}
    {% if prog.is_interleave() %}
        {% if target == "hls" %}
typedef ::hls::stream<half_{{widen_dt_name(arg)}}> half_{{widen_stream_dt_name(arg)}};
        {% else %}
            {% if arg is ops_read_or_rw %}
typedef ::tapa::istream<half_{{widen_dt_name(arg)}}>  half_in_{{widen_stream_dt_name(arg)}};
            {% endif %}
            {% if arg is ops_write_or_rw %}
typedef ::tapa::ostream<half_{{widen_dt_name(arg)}}>  half_out_{{widen_stream_dt_name(arg)}};
            {% endif %}
        {% endif %}
    {% else %}
        {% if target == "hls" %}
typedef ::hls::stream<{{widen_dt_name(arg)}}> {{widen_stream_dt_name(arg)}};
        {% else %}
            {% if arg is ops_read_or_rw %}
typedef ::tapa::istream<{{widen_dt_name(arg)}}> in_{{widen_stream_dt_name(arg)}};
            {% endif %}
            {% if arg is ops_write_or_rw %}
typedef ::tapa::ostream<{{widen_dt_name(arg)}}> out_{{widen_stream_dt_name(arg)}};
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %} 

{% endblock %}

{% block kernel_core %}
/*
{% for arg in lh.args %}
    {{arg}}
{% endfor %}
*/
inline void kernel_{{lh.kernel}}_core(
    {% for arg in lh.args %}
        {% if loop.last %}
            {% if consts %}
                {% set last_check = False %}
            {% else %}
                {% set last_check = True %}
            {% endif %}
        {% else %}
            {% set last_check = False %}
        {% endif %}
        {% if arg is ops_read %}
            {% if prog.findStencil(arg.stencil_ptr) %}
                {% for i in range(prog.findStencil(arg.stencil_ptr).num_points)%}
                    {% if lh.dats[arg.dat_id].isMultiDim() %}
                        {% for m_dim in range(lh.dats[arg.dat_id].dim) %}
        const stencil_type& reg_{{arg.id}}_{{i}}_{{m_dim}}{{"," if (not loop.last or not last_check)}}
                        {% endfor %}
                    {% else %}
        const stencil_type& reg_{{arg.id}}_{{i}}{{"," if (not loop.last or not last_check)}}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if arg is ops_write or arg is ops_rw%}
            {% if prog.findStencil(arg.stencil_ptr) %}
                {% for i in range(prog.findStencil(arg.stencil_ptr).num_points)%}
                    {% if lh.dats[arg.dat_id].isMultiDim() %}
                        {% for m_dim in range(lh.dats[arg.dat_id].dim) %}
        stencil_type& reg_{{arg.id}}_{{i}}_{{m_dim}}{{"," if (not loop.last or not last_check)}}
                        {% endfor %}
                    {% else %}
        stencil_type& reg_{{arg.id}}_{{i}}{{"," if (not loop.last or not last_check)}}
                    {% endif %}
                {% endfor %}
            {% else %}
        // ERROR: couldn't find stencil 
            {% endif %}
        {% endif %}
        {% if arg is ops_idx %}
        const short idx[3]{{"," if (not loop.last or not last_check)}}
        {% endif %}
        {% if arg is ops_gbl %}
        const {{arg.typ}}* {{kernel_args[loop.index0]}}{{"," if not loop.last}}
        {% endif %}
    {% endfor %}
    {% for const in consts %}
        const {{const.typ}}& {{const.ptr}}{{"," if not loop.last}}
    {% endfor %}
)
{
#ifdef DEBUG_LOG
    printf("[KERNEL_INTERNAL_CORE]|%s| starting kernel core: kernel_{{lh.kernel}}_core\n",__func__);
#endif
    {{kernel_body}}

#ifdef DEBUG_LOG
    {% for arg in lh.args %}
        {% if arg is ops_read %}
            {% if prog.findStencil(arg.stencil_ptr) %}
                {% for i in range(prog.findStencil(arg.stencil_ptr).num_points)%}
                    {% if lh.dats[arg.dat_id].isMultiDim() %}
                        {% for m_dim in range(lh.dats[arg.dat_id].dim) %}
    printf("[KERNEL_INTERNAL_CORE]|%s| read_val - reg_{{arg.id}}_{{i}}_{{m_dim}}: %f \n", __func__, reg_{{arg.id}}_{{i}}_{{m_dim}});
                        {% endfor %}
                    {% else %}
    printf("[KERNEL_INTERNAL_CORE]|%s| read_val - reg_{{arg.id}}_{{i}}: %f \n", __func__, reg_{{arg.id}}_{{i}});
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% elif arg is ops_write or arg is ops_rw%}
            {% if prog.findStencil(arg.stencil_ptr) %}
                {% for i in range(prog.findStencil(arg.stencil_ptr).num_points)%}
                    {% if lh.dats[arg.dat_id].isMultiDim() %}
                        {% for m_dim in range(lh.dats[arg.dat_id].dim) %}
    printf("[KERNEL_INTERNAL_CORE]|%s| write_val - reg_{{arg.id}}_{{i}}_{{m_dim}}: %f \n", __func__, reg_{{arg.id}}_{{i}}_{{m_dim}});
                        {% endfor %}
                    {% else %}
    printf("[KERNEL_INTERNAL_CORE]|%s| write_val - reg_{{arg.id}}_{{i}}: %f \n", __func__, reg_{{arg.id}}_{{i}});
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% elif arg is ops_idx %}
    printf("[KERNEL_INTERNAL_CORE]|%s| index_val: (%d, %d, %d) \n", __func__, idx[0], idx[1], idx[2]);
        {% endif %}
    {% endfor %}
#endif

#ifdef DEBUG_LOG
    printf("[KERNEL_INTERNAL_CORE]|%s| exiting: kernel_{{lh.kernel}}_core\n",__func__);
#endif
}
{% endblock %}

{% block stencil_class %}
{% if prog.is_interleave() %}
template <unsigned short NUM_SUB_TILE, unsigned short SUB_TILE_ID>
{% endif %}
class Stencil_{{lh.kernel}} : public ops::hls::StencilCoreV2<stencil_type, read_num_points_{{lh.kernel}}, {{"vector_factor" if (not prog.is_interleave()) else "subtile_vector_factor"}}, ops::hls::CoefTypes::CONST_COEF,
        read_stencil_size_{{lh.kernel}}, read_stencil_dim_{{lh.kernel}}{{", true" if tiles}}>
{
    using ops::hls::StencilCoreV2<stencil_type, read_num_points_{{lh.kernel}}, {{"vector_factor" if (not prog.is_interleave()) else "subtile_vector_factor"}}, ops::hls::CoefTypes::CONST_COEF,
            read_stencil_size_{{lh.kernel}}, read_stencil_dim_{{lh.kernel}}{{", true" if tiles}}>::m_stencilConfig;
public:

    void stencilRun(
    {% for arg in lh.args|ops_not_idx %}
        {% if loop.last %}
            {% if consts %}
                {% set last_check = False %}
            {% else %}
                {% set last_check = True %}
            {% endif %}
        {% else %}
            {% set last_check = False %}
        {% endif %}
        {% if arg is ops_dat %}
            {% if (arg is ops_read) %}
                {% if prog.is_interleave() %}
            half_{{"in_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "l_rd")-}},
            half_{{"in_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "u_rd")-}}{{"," if (not loop.last or not last_check)}}
                {% else %}
            {{"in_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name(arg)-}}{{"," if (not loop.last or not last_check)}}
                {% endif %}
            {% elif arg is ops_write %}
                {% if prog.is_interleave() %}
            half_{{"out_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "l_wr")-}},
            half_{{"out_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "u_wr")-}}{{"," if (not loop.last or not last_check)}}
                {% else %}
            {{"out_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name(arg)-}}{{"," if (not loop.last or not last_check)}}
                {% endif %}
            {% else %}
                {% if prog.is_interleave() %}
            half_{{"in_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "l_rd")-}},
            half_{{"in_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "u_rd")-}},
            half_{{"out_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "l_wr")-}},
            half_{{"out_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "u_wr")-}}{{"," if (not loop.last or not last_check)}}
                {% else %}
            {{"in_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "rd")-}},
            {{"out_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "wr")-}}{{"," if (not loop.last or not last_check)}}
                {% endif %}
            {% endif %}
        {% elif arg is ops_gbl %}
            const {{arg.typ}}& {{get_arg_gbl_name(arg)}}{{"," if (not loop.last or not last_check)}}
        {% endif %}
    {% endfor %}
    {% for const in consts %}
            const {{const.typ}}& {{const.ptr}}{{"," if not loop.last}}
    {% endfor %}
        )
    {
        {% if isTiling %}
        ::ops::hls::StencilConfigCoreSingleTile stencilConfig = m_stencilConfig;
        #pragma HLS ARRAY_PARTITION variable = stencilConfig.tile_size dim = 1 complete
        //#pragma HLS ARRAY_PARTITION variable = stencilConfig.is_tiled dim = 1 complete
        #pragma HLS ARRAY_PARTITION variable = stencilConfig.is_first dim = 1 complete
        #pragma HLS ARRAY_PARTITION variable = stencilConfig.is_last dim = 1 complete
        //#pragma HLS ARRAY_PARTITION variable = stencilConfig.last_tile_size dim = 1 complete
        //#pragma HLS ARRAY_PARTITION variable = stencilConfig.tile_count dim = 1 complete
        //#pragma HLS ARRAY_PARTITION variable = stencilConfig.grid_size dim = 1 complete
        {% else %}
        ::ops::hls::StencilConfigCore stencilConfig = m_stencilConfig;
        #pragma HLS ARRAY_PARTITION variable = stencilConfig.lower_limit dim = 1 complete
        #pragma HLS ARRAY_PARTITION variable = stencilConfig.upper_limit dim = 1 complete
        #pragma HLS ARRAY_PARTITION variable = stencilConfig.grid_size dim = 1 complete
        {% endif %}
        const unsigned short peId = m_PEId;

        const unsigned short span_x = {{span_x}};
        const unsigned short half_span_x = {{half_span_x}};
        {% if isTiling %}
            {% if prog.is_interleave() %}
        // --------- Interleave Subtile related computations ------------
        constexpr bool is_first_sub_tile = (SUB_TILE_ID == 0);
        constexpr bool is_last_sub_tile = (SUB_TILE_ID == (NUM_SUB_TILE - 1));
        constexpr unsigned short sub_tile_id_mul_subtile_vector_factor = SUB_TILE_ID * subtile_vector_factor;
        //---------------------------------------------------------------
            {% endif %}
        const unsigned short true_tile_size_x = stencilConfig.tile_size[0] << {{"adj_" if prog.is_interleave()}}shift_bits;
        // overlap_size = {{get_overlap_tile_size(config["SLR_count"], config["iter_par_factor"], half_span_x, config["mem_vector_factor"])|int}}, total_PEs = {{get_total_PEs(config["SLR_count"], config["iter_par_factor"])}} 
        // const unsigned short overlap_offset_x = {{(get_overlap_tile_size(config["SLR_count"], config["iter_par_factor"], half_span_x, config["mem_vector_factor"]) - (half_span_x * get_total_PEs(config["SLR_count"], config["iter_par_factor"])) - 1)|int}};
        const bool is_first_x = stencilConfig.is_first[0] {% if prog.is_interleave()-%} && is_first_sub_tile {%-endif-%};
        const bool is_last_x = stencilConfig.is_last[0] {% if prog.is_interleave()-%} && is_last_sub_tile {%-endif-%};

            {% if prog.is_interleave() %}
        // --------- Interleave Subtile related computations ------------
        const short x_idx_adjust = is_first_x ? -half_span_x : sub_tile_id_mul_subtile_vector_factor - half_span_x;
#ifdef DEBUG_LOG
        printf("[DEBUG][INTERNAL][%s:%d{%- if prog.is_interleave() -%}:%d{%- endif -%}] Interleave Related Parameters\n" \
                "is_first_sub_tile: %d, is_last_sub_tile: %d, sub_tile_id_mul_subtile_vector_factor: %d, x_idx_adjust: %d, \n"
                , __func__, m_PEId, SUB_TILE_ID, is_first_sub_tile, is_last_sub_tile, sub_tile_id_mul_subtile_vector_factor, x_idx_adjust);
#endif
        //---------------------------------------------------------------
            {% endif %}

        // const unsigned short adj_half_span_x = stencilConfig.tile_count[0] == 1? half_span_x : half_span_x * (peId + 1);
        const unsigned short adj_half_span_x_lower = is_first_x? half_span_x : half_span_x * (peId + 1);
        const unsigned short adj_half_span_x_upper = is_last_x? half_span_x : half_span_x * (peId + 1);
            {% if lh.ndim == 3 %}
        //const unsigned short adj_half_span_y = stencilConfig.tile_count[1] == 1? half_span_x : half_span_x * (peId + 1);
        const unsigned short adj_half_span_y_lower = stencilConfig.is_first[1]? half_span_x : half_span_x * (peId + 1);
        const unsigned short adj_half_span_y_upper = stencilConfig.is_last[1]? half_span_x : half_span_x * (peId + 1);
            {% endif %}
        {% endif %}

        {% if isTiling %}
        // static limits are set outside the tile loops
        const unsigned short lower_limit_x = adj_half_span_x_lower;
        //const unsigned short min_limit_x_const = stencilConfig.last_tile_upper_limit_x < true_tile_size_x ? stencilConfig.last_tile_upper_limit_x : true_tile_size_x;  //(stencilConfig.last_tile_upper_limit_x - adj_half_span_x) < adj_half_span_x ? adj_half_span_x : (stencilConfig.last_tile_upper_limit_x - adj_half_span_x);
        //const unsigned short upper_limit_x = (min_limit_x_const - adj_half_span_x_upper) < adj_half_span_x_upper ? adj_half_span_x_upper : min_limit_x_const - adj_half_span_x_upper;
        const unsigned short upper_limit_x = stencilConfig.is_last[0] ? stencilConfig.last_tile_upper_limit_x - 1 : true_tile_size_x - adj_half_span_x_upper;
            {% if lh.ndim == 3 %}
        const unsigned short lower_limit_y = adj_half_span_y_lower;
        const unsigned short lower_limit_z = half_span_x;
        const unsigned short upper_limit_z = stencilConfig.outer_loop_limit - span_x;
        const unsigned short upper_limit_y = (stencilConfig.tile_size[1] - adj_half_span_y_upper) < adj_half_span_y_upper ? adj_half_span_y_upper : (stencilConfig.tile_size[1] - adj_half_span_y_upper);
            {% else %}
        const unsigned short lower_limit_y = half_span_x;
        const unsigned short upper_limit_y = stencilConfig.outer_loop_limit - span_x;
            {% endif %}
        {% else %}
        const unsigned short lower_limit_x = stencilConfig.lower_limit[0];
        const unsigned short lower_limit_y = stencilConfig.lower_limit[1];
        const unsigned short lower_limit_z = stencilConfig.lower_limit[2];
        const unsigned short upper_limit_x = stencilConfig.upper_limit[0];
        const unsigned short upper_limit_y = stencilConfig.upper_limit[1];
        const unsigned short upper_limit_z = stencilConfig.upper_limit[2];
        {% endif %}

        {#% if isTiling %}
        const unsigned short total_tiles = stencilConfig.tile_count[0] * stencilConfig.tile_count[1];
        unsigned short tile_x = 0;
        unsigned short tile_y = 0;
        for (unsigned short tile_id = 0; tile_id < total_tiles; tile_id++)
        {

            const unsigned short tile_id_reged = register_it(tile_id);
            const unsigned short prev_tile_x = tile_x;
            tile_x = tile_id_reged % stencilConfig.tile_count[0];
            
            if (prev_tile_x >= tile_x)
            {
                tile_y++;
            }

        {% else %#}
        {% if not isTiling %}
        for (unsigned bat = 0; bat < stencilConfig.batch_size; bat++)
        {
        {% endif %}
        {% set read_origin_wide_diff = read_stencil.read_origin_diff %}
        {% set read_origin_wide_diff_x = read_origin_wide_diff.x %}
        {% set read_origin_wide_diff_x  = ((read_origin_wide_diff_x + config["vector_factor"] - 1) / config["vector_factor"])|round(0,"floor")|int %}
            //read_origin_wide_diff_x: {{read_origin_wide_diff_x}}, read_origin_wide_diff: {{read_origin_wide_diff}}
        {#% if isTiling %}
            //const bool is_last_tile_x = (tile_x == stencilConfig.tile_count[0] - 1);
            const unsigned short tile_size_x = is_last_tile_x ? stencilConfig.last_tile_size[0] : stencilConfig.tile_size[0];
            const unsigned short true_tile_size_x = tile_size_x << shift_bits;
            {% if lh.ndim == 3 %}
            const bool is_last_tile_y = (tile_y == stencilConfig.tile_count[1] - 1);
            const unsigned short tile_size_y = is_last_tile_y ? stencilConfig.last_tile_size[1] : stencilConfig.tile_size[1];
            {% endif %}
        {% endif %#}
        //  *** counters definitions ****
        {% if lh.ndim == 1 %}
            short i = {{(-read_origin_wide_diff_x) - 1}};
        {% elif lh.ndim == 2 %}
            short i = {{ (-read_origin_wide_diff_x) - 1}};
            short j = -{{read_origin_wide_diff.y}}; 
        {% elif lh.ndim == 3 %}
            short i = {{ (-read_origin_wide_diff_x) - 1}};
            short j = {{(-read_origin_wide_diff.y)}}; 
            short k = {{(-read_origin_wide_diff.z)}};
            {% if not isTiling %}
            unsigned short plane_diff = stencilConfig.grid_size[0] * stencilConfig.grid_size[1] - 1;
            {% else %}
            //unsigned short plane_diff = tile_size_x * tile_size_y - 1;
            unsigned short plane_diff = stencilConfig.tile_size[0] * stencilConfig.tile_size[1] - 1;
            {% endif %}
        {% endif %}

        //  *** stencil description and read & write point definitions  ****
            /*
            {{widen_read_stencil_desc}}
            */
        {#% for stencil_name in lh.get_unique_read_stencil_names() %}
            // Stencil: {{stencil_name}}
            {% for point  in prog.findStencil(stencil_name).points %}
            //      {{"|-" if not loop.last else "`-"}} point: {{point}}
            {% endfor %}
            {% for buffer in widen_stencil_disc_map[stencil_name].window_buffers %}
            // read point: {{buffer.read_point}}, write point: {{buffer.write_point}}
                {% if buffer.buffer_type == ops.BufferType.LINE_BUFF %}
                    {% if buffer.is_read_write_aligned %}
            unsigned short {{stencil_name}}_{{buffer_read_idx(buffer)}} = 0;
                    {% else %}
            unsigned short {{stencil_name}}_{{buffer_read_idx(buffer)}} = {{(buffer.read_point.x - buffer.write_point.x, 0)|max}};
            unsigned short {{stencil_name}}_{{buffer_write_idx(buffer)}} = {{(buffer.write_point.x - buffer.read_point.x, 0)|max}};
                    {% endif %}
                {% else %}
                    {% if buffer.is_read_write_aligned %}
            unsigned short {{stencil_name}}_{{buffer_read_idx(buffer)}} = 0;
                    {% else %}
            unsigned short {{stencil_name}}_{{buffer_read_idx(buffer)}};
            
            if ({{(buffer.read_point - buffer.write_point).y}} * {{"stencilConfig.tile_size[0]" if isTiling else "stencilConfig.grid_size[0]"}} + {{(buffer.read_point - buffer.write_point).x}} > 0)
                {{stencil_name}}_{{buffer_read_idx(buffer)}} = {{(buffer.read_point - buffer.write_point).y}} * {{"stencilConfig.tile_size[0]" if isTiling else "stencilConfig.grid_size[0]"}} + {{(buffer.read_point - buffer.write_point).x}};
            else
                {{stencil_name}}_{{buffer_read_idx(buffer)}} = 0;

            unsigned short {{stencil_name}}_{{buffer_write_idx(buffer)}};
            
            if ({{(buffer.write_point - buffer.read_point).y}} * {{"stencilConfig.tile_size[0]" if isTiling else "stencilConfig.grid_size[0]"}} + {{(buffer.write_point - buffer.read_point).x}} > 0)
                {{stencil_name}}_{{buffer_write_idx(buffer)}} = {{(buffer.write_point - buffer.read_point).y}} * {{"stencilConfig.tile_size[0]" if isTiling else "stencilConfig.grid_size[0]"}} + {{(buffer.write_point - buffer.read_point).x}};
            else
                {{stencil_name}}_{{buffer_write_idx(buffer)}} = 0;
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %#}

        {% for stencil_name in lh.get_unique_read_stencil_names() %}
            // Stencil: {{stencil_name}}
            {% for point  in prog.findStencil(stencil_name).points %}
            //      {{"|-" if not loop.last else "`-"}} point: {{point}}
            {% endfor %}
            {% for buffer in widen_stencil_disc_map[stencil_name].window_buffers %}
            // read point: {{buffer.read_point}}, write point: {{buffer.write_point}}
                {% if buffer.buffer_type == ops.BufferType.LINE_BUFF %}
                    {% if buffer.is_read_write_aligned %}
            unsigned short {{stencil_name}}_{{buffer_read_idx(buffer)}} = 0;
            const short {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_buf_len_init = {{"stencilConfig.tile_size[0]" if isTiling else "stencilConfig.grid_size[0]"}} - 1;
                    {% else %}
            unsigned short {{stencil_name}}_{{buffer_read_idx(buffer)}} = 0;
            constexpr short {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_diff = {{buffer.read_point.x - buffer.write_point.x}};
            // constexpr short {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_diff = {{((buffer.read_point.x - buffer.write_point.x)/config["vector_factor"])|int}};
            const short {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_buf_len_init = {{"stencilConfig.tile_size[0]" if isTiling else "stencilConfig.grid_size[0]"}} - 1  + {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_diff;
                    {% endif %}
                {% else %}
                    {% if buffer.is_read_write_aligned %}
            unsigned short {{stencil_name}}_{{buffer_read_idx(buffer)}} = 0;
            const short {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_buf_len_init = plane_diff;
                    {% else %}
            unsigned short {{stencil_name}}_{{buffer_read_idx(buffer)}} = 0;
            constexpr short {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_diff_x = {{(buffer.read_point - buffer.write_point).x}};
            // constexpr short {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_diff_x = {{((buffer.read_point.x - buffer.write_point.x)/config["vector_factor"])|int}};
            constexpr short {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_diff_y = {{(buffer.read_point - buffer.write_point).y}};
            const short {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_diff = {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_diff_y * {{"stencilConfig.tile_size[0]" if isTiling else "stencilConfig.grid_size[0]"}} + {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_diff_x;
            const short {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_buf_len_init = plane_diff  + {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_diff;
                    {% endif %}
                {% endif %}
            const unsigned short {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_buf_len = {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_buf_len_init < 0 ? 0 : {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_buf_len_init;
            {% endfor %}
        {% endfor %}

        {#% if isTiling %}
        // Dynamic limits set inside the tile loops
        const unsigned short upper_limit_x = is_last_tile_x ? upper_limit_x_const : true_tile_size_x - adj_half_span_x;
            {% if lh.ndim == 3 %}
        const unsigned short upper_limit_y = is_last_tile_y ? upper_limit_y_const : tile_size_y - adj_half_span_x;
            {% endif %}
        {% endif %#}

        //  *** iteration limit definition ****
        {% if lh.ndim  == 1 %}
            {% if isTiling %}
            unsigned int iter_limit = stencilConfig.tile_size[0] + half_span_x;
            {% else %}
            unsigned int iter_limit = stencilConfig.outer_loop_limit;
            {% endif %}
        {% elif lh.ndim == 2%}
            {% if isTiling %}
            unsigned int iter_limit = stencilConfig.outer_loop_limit * stencilConfig.tile_size[0];
            {% else %}
            unsigned int iter_limit = stencilConfig.outer_loop_limit * stencilConfig.grid_size[0]{%- if read_origin_wide_diff_x != 0 %} + {{read_origin_wide_diff_x}}{%- endif %};
            {% endif %}
        {% else %}
            {% if isTiling %}
            unsigned int iter_limit = stencilConfig.outer_loop_limit * stencilConfig.tile_size[0] * stencilConfig.tile_size[1];
            {% else %}
            unsigned int iter_limit = stencilConfig.outer_loop_limit * 
                    stencilConfig.grid_size[1] * stencilConfig.grid_size[0] {% if read_origin_wide_diff[1] !=0 -%} + {{read_origin_wide_diff[1]}} * stencilConfig.grid_size[0] {%- endif %} {%- if read_origin_wide_diff_x != 0 %} + {{read_origin_wide_diff_x}}{%- endif %};
            {% endif %}
        {% endif %}

        //  *** data read write boundary definitions ****
        {% set processed_stencil_ptrs = [] %}
        {% for arg in lh.args|ops_dat|ops_read_or_rw %}
            {% if arg.stencil_ptr not in processed_stencil_ptrs %}
                {% set _ = processed_stencil_ptrs.append(arg.stencil_ptr) %}
                {% if lh.ndim == 1 %}
                    {% set base_offset = widen_read_stencil_desc.widen_stencil.base_point.x - widen_stencil_disc_map[arg.stencil_ptr].widen_stencil.base_point.x %}
            unsigned int {{arg.stencil_ptr}}_read_lb_itr = {{base_offset}};
            unsigned int {{arg.stencil_ptr}}_read_ub_itr = {% if base_offset != 0 %}{{base_offset}} + stencilConfig.grid_size[0];{% else %}stencilConfig.grid_size[0];{% endif %}
                {% elif lh.ndim == 2 %}
                    {% set base_offset = widen_read_stencil_desc.widen_stencil.base_point.y - widen_stencil_disc_map[arg.stencil_ptr].widen_stencil.base_point.y %}
            unsigned int {{arg.stencil_ptr}}_read_lb_itr = {% if base_offset != 0 %}{{base_offset}} * {{"stencilConfig.tile_size[0]" if isTiling else "stencilConfig.grid_size[0]"}}{% else %}0{% endif %};
            unsigned int {{arg.stencil_ptr}}_read_ub_itr = {% if base_offset != 0 %}({{base_offset}} + {{"stencilConfig.tile_size[1]" if isTiling else "stencilConfig.grid_size[1]"}}){% else %}{{"stencilConfig.tile_size[1]" if isTiling else "stencilConfig.grid_size[1]"}}{% endif %} * {{"stencilConfig.tile_size[0]" if isTiling else "stencilConfig.grid_size[0]"}};
                {% else %}
                    {% set base_offset = widen_read_stencil_desc.widen_stencil.base_point.z - widen_stencil_disc_map[arg.stencil_ptr].widen_stencil.base_point.z %}
            unsigned int {{arg.stencil_ptr}}_read_lb_itr = {% if base_offset != 0 %}{{base_offset}} * {{"stencilConfig.tile_size[0]" if isTiling else "stencilConfig.grid_size[0]"}} * {{"stencilConfig.tile_size[1]" if isTiling else "stencilConfig.grid_size[1]"}},{% else %}0{% endif %};
            unsigned int {{arg.stencil_ptr}}_read_ub_itr = {% if base_offset != 0 %}({{base_offset}} + {{"stencilConfig.tile_size[2]" if isTiling else "stencilConfig.grid_size[2]"}} ){% else %}{{"stencilConfig.tile_size[2]" if isTiling else "stencilConfig.grid_size[2]"}} {% endif %} * {{"stencilConfig.tile_size[0]" if isTiling else "stencilConfig.grid_size[0]"}} * {{"stencilConfig.tile_size[1]" if isTiling else "stencilConfig.grid_size[1]"}};
                {% endif %}
            {% endif %}
        {% endfor %}
        
        /*
        {% if lh.ndim == 1 %}
            unsigned int read_lb_itr = 0;
            unsigned int read_ub_itr = stencilConfig.grid_size[0];
        {% elif lh.ndim == 2 %}
            unsigned int read_lb_itr = 0;
            unsigned int read_ub_itr = stencilConfig.grid_size[1] * stencilConfig.grid_size[0];
        {% else %}
            unsigned int read_lb_itr = 0;
            unsigned int read_ub_itr = stencilConfig.grid_size[2] * stencilConfig.grid_size[1] * stencilConfig.grid_size[0];
        {% endif %}
        */
        //  *** Read & write widen temporaries ****
        {% for arg in lh.args|ops_dat %}
        // arg{{arg.id}}({{lh.dats[arg.dat_id].ptr}})
            {% if arg is ops_read %}
            {{widen_dt_name(arg)}} arg{{arg.id}}_read_val{% if target == "hls"%} = 0{% endif %};
            {% elif arg is ops_write %}
            {{widen_dt_name(arg)}} arg{{arg.id}}_update_val;
            {% else %}
            {{widen_dt_name(arg)}} arg{{arg.id}}_read_val{% if target == "hls" %} = 0{% endif %};
            {{widen_dt_name(arg)}} arg{{arg.id}}_update_val;
            {% endif %}
        {% endfor %}
        {% if config["platform_is_ib_selectable"] %}
            {% set SIS = true %}
            {% set SIS_type_count = config["supported_internal_storage"] | length %}
        // {{SIS_type_count}}
            {% set SIS_id = [0] %}
        {% else %}
            {% set SIS = false %}
        {% endif %}
        //  *** widen stencil values holder & window buffers ****
        {% for arg in lh.args|ops_dat|ops_read_or_rw %}

            // arg{{arg.id}}({{lh.dats[arg.dat_id].ptr}})
            {{widen_dt_name(arg)}} arg{{arg.id}}_widenStencilValues[read_num_points_{{lh.kernel}}];
            #pragma HLS ARRAY_PARTITION variable = arg{{arg.id}}_widenStencilValues dim = 1 complete
            {% if isTiling %}
                {% if lh.ndim == 2 %}
            // Max grid_size: ({{tiles[0]|int}}, {{config["max_grid_size"][1]|int}})
                {% elif lh.ndim == 3 %}
            // Max grid_size: ({{tiles[0]|int}}, {{tiles[1]|int}}, {{config["max_grid_size"][1]|int}})
                {% endif %}
            {% else %}
                {% if lh.ndim == 2 %}
            // Max grid_size: ({{config["max_grid_size"][0]|int}}, {{config["max_grid_size"][1]|int}})
                {% elif lh.ndim == 3 %}
            // Max grid_size: ({{config["max_grid_size"][0]|int}}, {{config["max_grid_size"][1]|int}}, {{config["max_grid_size"][1]|int}})
                {% endif %}
            {% endif %}
            {% if prog.is_interleave() %}
                {% set interleave_div = (config["tile_banks"]/2)|int %}
            {% else %}
                {% set interleave_div = 1 %}
            {% endif %}
            {% for buffer in widen_stencil_disc_map[arg.stencil_ptr].window_buffers %}
                {% if buffer.buffer_type == ops.BufferType.LINE_BUFF %}
                    {% if isTiling %}
            //tile_size_x = {{tiles[0]|int}}, half_span_x: 0, vector_factor: {{vector_factor(arg)|int}}, interleave_div: {{interleave_div}}
            {{widen_dt_name(arg)}} arg{{arg.id}}_{{buffer.name}}[{{get_line_buff_size(tiles[0]|int, 0, vector_factor(arg)|int, interleave_div)}}];
                    {% else %}
            {{widen_dt_name(arg)}} arg{{arg.id}}_{{buffer.name}}[{{get_line_buff_size(config["max_grid_size"][0]|int, half_span_x|int, vector_factor(arg)|int, interleave_div)}}];
                    {% endif %}
                {% else %}
                    {% if isTiling %}
            //tile_size_x = {{tiles[0]|int}}, tile_size_y: {{tiles[1]|int}}, half_span_x: 0, vector_factor: {{vector_factor(arg)|int}}, interleave_div: {{interleave_div}}
            {{widen_dt_name(arg)}} arg{{arg.id}}_{{buffer.name}}[{{get_plane_buff_size(tiles[0]|int, tiles[1]|int, 0, vector_factor(arg)|int, interleave_div)}}];
                    {% else %}
            {{widen_dt_name(arg)}} arg{{arg.id}}_{{buffer.name}}[{{get_plane_buff_size(config["max_grid_size"][0]|int, config["max_grid_size"][1]|int, half_span_x|int, vector_factor(arg)|int, interleave_div)}}];
                    {% endif %}
                {% endif %}
                {% if buffer.is_read_write_aligned %}
                    {% if SIS %}
                        {% if  buffer.buffer_type == ops.BufferType.LINE_BUFF %}
            #pragma HLS BIND_STORAGE variable = arg{{arg.id}}_{{buffer.name}} type = ram_s2p {% if "BRAM" in (config["supported_internal_storage"]) %}impl = BRAM{% endif %} latency=2
                        {% else %}
            #pragma HLS BIND_STORAGE variable = arg{{arg.id}}_{{buffer.name}} type = ram_s2p {% if "URAM" in (config["supported_internal_storage"]) %}impl = URAM{% endif %} latency=2  
                        {% endif %}
                    {% else %}
            #pragma HLS BIND_STORAGE variable = arg{{arg.id}}_{{buffer.name}} type = ram_s2p latency=2
                    {% endif %}
                {% else %}
                    {% if SIS %}
                        {% if  buffer.buffer_type == ops.BufferType.LINE_BUFF %}
            #pragma HLS BIND_STORAGE variable = arg{{arg.id}}_{{buffer.name}} type = ram_s2p {% if "BRAM" in (config["supported_internal_storage"]) %}impl = BRAM{% endif %} latency=2
                        {% else %}
            #pragma HLS BIND_STORAGE variable = arg{{arg.id}}_{{buffer.name}} type = ram_s2p {% if "URAM" in (config["supported_internal_storage"]) %}impl = URAM{% endif %} latency=2  
                        {% endif %}
                    {% else %}
            #pragma HLS BIND_STORAGE variable = arg{{arg.id}}_{{buffer.name}} type = ram_s2p latency=2
                    {% endif %}
                {% endif %}
                {% if SIS %}
                    // curr SIS_id = {{SIS_id[0]}}
                    {% if SIS_id[0] == SIS_type_count - 1 %}
                        {% set _ = SIS_id.pop() %}
                        {% set _ = SIS_id.append(0) %}
                    {% else %}
                        {% set _ = SIS_id.pop() %}
                        {% set _ = SIS_id.append(_ + 1) %}
                    {% endif %}
                    // next SIS_id = {{SIS_id[0]}}
                {% endif %}
            {% endfor %}

            {% for row_discriptor in prog.findStencil(arg.stencil_ptr).row_discriptors %}
                {% if lh.dats[arg.dat_id].isMultiDim() %}
                    {% for m_dim in range(lh.dats[arg.dat_id].dim) %}
                        {% if prog.is_interleave() %}
            stencil_type arg{{arg.id}}_{{m_dim}}_rowArr_{{row_discriptor.row_id[0]}}_{{row_discriptor.row_id[1]}}[subtile_full_vector_factor + span_x];
                        {% else %}
            stencil_type arg{{arg.id}}_{{m_dim}}_rowArr_{{row_discriptor.row_id[0]}}_{{row_discriptor.row_id[1]}}[vector_factor + span_x];
                        {% endif %}
            #pragma HLS ARRAY_PARTITION variable = arg{{arg.id}}_{{m_dim}}_rowArr_{{row_discriptor.row_id[0]}}_{{row_discriptor.row_id[1]}} dim=1 complete
                    {% endfor %}
                {% else %}
                    {% if prog.is_interleave() %}
            stencil_type arg{{arg.id}}_rowArr_{{row_discriptor.row_id[0]}}_{{row_discriptor.row_id[1]}}[subtile_full_vector_factor + span_x];
                    {% else %}
            stencil_type arg{{arg.id}}_rowArr_{{row_discriptor.row_id[0]}}_{{row_discriptor.row_id[1]}}[vector_factor + span_x];
                    {% endif %}
            #pragma HLS ARRAY_PARTITION variable = arg{{arg.id}}_rowArr_{{row_discriptor.row_id[0]}}_{{row_discriptor.row_id[1]}} dim=1 complete
                {% endif %}
            {% endfor %}
        {% endfor %}

            const short cond_x_val = {{"stencilConfig.tile_size[0]" if isTiling else "stencilConfig.grid_size[0]"}} - 1; 
        {% if lh.ndim == 2 %}
            const short cond_y_val = stencilConfig.outer_loop_limit - 1;
        {% elif lh.ndim == 3 %}
            const short cond_y_val = {{"stencilConfig.tile_size[1]" if isTiling else "stencilConfig.grid_size[1]"}}  - 1;
            const short cond_z_val = stencilConfig.outer_loop_limit - 1;
        {% endif %}

#ifdef DEBUG_LOG
             printf("[DEBUG][INTERNAL][%s:%d{%- if prog.is_interleave() -%}:%d{%- endif -%}] initial values, "\
        {% if isTiling %}
            {% if lh.ndim == 2 %}
                "tile_size_x(%d), grid_size_y(%d), "\
                {% if prog.is_interleave()%}
                "true_tile_size_x(%d), "\
                {% endif %}
            {% elif lh.ndim == 3 %}
                "tile_size_x(%d), tile_size_y:(%d), grid_size_z:(%d), "\ 
            {% endif %}
        {% else %}
            {% if lh.ndim == 1 %}
                "grid_size_x(%d), "\
            {% elif lh.ndim == 2 %}
                "grid_size_x(%d), grid_size_y(%d), "\
            {% elif lh.ndim == 3 %}
                "grid_size_x(%d), grid_size_y(%d), grid_size_z(%d), "\
            {% endif %}
        {% endif %}
                "iter_limit(%d), stencilConfig.outer_loop_limit:%d \n",
                __func__,m_PEId,
        {% if prog.is_interleave() %}
                SUB_TILE_ID, 
        {% endif %}
        {% if isTiling %}
            {% if lh.ndim == 2 %}
                stencilConfig.tile_size[0], stencilConfig.tile_size[1],
                {% if prog.is_interleave()%}
                true_tile_size_x,
                {% endif %}
            {% elif lh.ndim == 3 %}
                stencilConfig.tile_size[0], stencilConfig.tile_size[1], stencilConfig.tile_size[2],
            {% endif %}
        {% else %}
            {% if lh.ndim == 1 %}
                stencilConfig.grid_size[0],
            {% elif lh.ndim == 2 %}
                 stencilConfig.grid_size[0],  stencilConfig.grid_size[1],
            {% elif lh.ndim == 3 %}
                 stencilConfig.grid_size[0],  stencilConfig.grid_size[1],  stencilConfig.grid_size[2],
            {% endif %}
        {% endif %}        
                iter_limit, stencilConfig.outer_loop_limit);
#endif

            for (unsigned int itr = 0; itr < iter_limit; itr++)
            {
            #pragma HLS PIPELINE II=1
                unsigned int reg_itr = register_it(itr);

                spc_temp_blocking_read:
                {
                    bool cond_x_terminate = (i == cond_x_val ? true : false); 
        {% if lh.ndim == 2 %}
                    bool cond_y_terminate = (j == cond_y_val ? true : false);
        {% elif lh.ndim == 3 %}
                    bool cond_y_terminate = (j == cond_y_val ? true : false);
                    bool cond_z_terminate = (k == cond_z_val ? true : false);
        {% endif %}

    #ifdef DEBUG_LOG
                    printf("[DEBUG][INTERNAL][{{lh.kernel}}_PE_%d{%if prog.is_interleave() %}:%d{% endif %}] loop params before update i(%d), "\
        {% if lh.ndim > 1 %}
                        "j(%d), "\
        {% endif %}
        {% if lh.ndim > 2 %}
                        "k(%d), "\
        {% endif %}
        {% for stencil_name in lh.get_unique_read_stencil_names() %}
            {% for buffer in widen_stencil_disc_map[stencil_name].window_buffers %}
                        "{{stencil_name}}_{{buffer_read_idx(buffer)}}: %d, "\
            {% endfor %}
            {% for buffer in widen_stencil_disc_map[stencil_name].window_buffers %}
                        "{{stencil_name}}_{{buffer_read_idx(buffer)}}_cont_buf_len: %d, "\
            {% endfor %}
        {% endfor %}
                        "reg_itr(%d)\n", m_PEId, {%if prog.is_interleave() %}SUB_TILE_ID, {% endif %} i, 
        {% if lh.ndim > 1 %}
                        j,
        {% endif %}
        {% if lh.ndim > 2 %}
                        k,
        {% endif %}
        {% for stencil_name in lh.get_unique_read_stencil_names() %}
            {% for buffer in widen_stencil_disc_map[stencil_name].window_buffers %}
                        {{stencil_name}}_{{buffer_read_idx(buffer)}}, 
            {% endfor %}
            {% for buffer in widen_stencil_disc_map[stencil_name].window_buffers %}
                        {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_buf_len, 
            {% endfor %}
        {% endfor %}
                        reg_itr);
    #endif
                    if (cond_x_terminate)
                        i = 0;
                    else
                        i++;
        {% if lh.ndim > 1 %}
                    if (cond_x_terminate && cond_y_terminate)
                        j = 0;
                    else if  (cond_x_terminate)
                        j++;
        {% endif %}
        {% if lh.ndim > 2%}
                    if (cond_x_terminate && cond_y_terminate && cond_z_terminate)
                        k = 0;
                    else if (cond_x_terminate && cond_y_terminate)
                        k++;
        {% endif %}

        {% set processed_stencil_ptrs = [] %}
        {% for arg in lh.args|ops_dat|ops_read_or_rw %}
            {% if arg.stencil_ptr not in processed_stencil_ptrs %}
                {% set _ = processed_stencil_ptrs.append(arg.stencil_ptr) %}
                    bool {{arg.stencil_ptr}}_read_cond = (reg_itr < {{arg.stencil_ptr}}_read_ub_itr) and (reg_itr >= {{arg.stencil_ptr}}_read_lb_itr);
            {% endif %}
        {% endfor %}
                /*    bool read_cond  =  (reg_itr < read_ub_itr) and (reg_itr >= read_lb_itr); */

        {% for stencil_ptr in lh.get_unique_read_stencil_names() %}
            {% if get_read_args_from_stencil(stencil_ptr, lh) %}
                    if ({{stencil_ptr}}_read_cond)
                    {
                {% for arg in get_read_args_from_stencil(stencil_ptr, lh) %}
                    {% if prog.is_interleave() %}
                        {% if target == "hls" %}
                        arg{{arg.id}}_read_val.range(half_{{axis_data_width_name(arg)}}_min_1, 0) = {{hls_stream_name_t2(arg, "l_rd")-}}.read();
                        arg{{arg.id}}_read_val.range({{axis_data_width_name(arg)}}_min_1, half_{{axis_data_width_name(arg)}}) = {{hls_stream_name_t2(arg, "u_rd")-}}.read();
                        {% else %}
                        auto arg{{arg.id}}_tmp_l_rd_val =  {{hls_stream_name_t2(arg, "l_rd")-}}.read();
                        auto arg{{arg.id}}_tmp_u_rd_val =  {{hls_stream_name_t2(arg, "u_rd")-}}.read();
                        for (unsigned short v_id = 0; v_id < half_{{vector_factor_name(arg)}}; v_id++) {
                            #pragma HLS UNROLL
                            arg{{arg.id}}_read_val[v_id] = arg{{arg.id}}_tmp_l_rd_val[v_id];
                        }
                        for (unsigned short v_id = 0; v_id < half_{{vector_factor_name(arg)}}; v_id++) {
                            #pragma HLS UNROLL
                            arg{{arg.id}}_read_val[ half_{{vector_factor_name(arg)}} + v_id] = arg{{arg.id}}_tmp_u_rd_val[v_id];
                        }
                        {% endif %}
                    {% else %}
                        arg{{arg.id}}_read_val = arg{{arg.id}}_rd_buffer.read();
                    {% endif %}
                {% endfor %}
                    }
            {% endif %}    
        {% endfor %}
                    /*if (read_cond)
                    {
        {% for arg in lh.args|ops_dat|ops_read_or_rw %}
                        arg{{arg.id}}_read_val = arg{{arg.id}}_rd_buffer.read();
        {% endfor %}
                    }*/

        {% for arg in lh.args|ops_dat|ops_read_or_rw %}
            {% for chain in widen_stencil_disc_map[arg.stencil_ptr].chains %}                
                    {{chainLinkTranform(chain[0], arg, 1)}} = {{chainLinkTranform(chain[1], arg, 0)}};{% endfor %}
        {% endfor %}


        {% for stencil_name in lh.get_unique_read_stencil_names() %}
            {% for buffer in widen_stencil_disc_map[stencil_name].window_buffers %}
                {% if buffer.buffer_type == ops.BufferType.LINE_BUFF %}
                    
                    bool cond_end_of_line_buff_{{stencil_name}}_{{buffer_read_idx(buffer)}} = {{stencil_name}}_{{buffer_read_idx(buffer)}} >= {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_buf_len;
                    {#% if not buffer.is_read_write_aligned %}
                    bool cond_end_of_line_buff_{{stencil_name}}_{{buffer_write_idx(buffer)}} = {{stencil_name}}_{{buffer_write_idx(buffer)}} >= ({{"stencilConfig.tile_size[0]" if isTiling else "stencilConfig.grid_size[0]"}} - 1);
                    {% endif %#}
                {% else %}
                    bool cond_end_of_line_buff_{{stencil_name}}_{{buffer_read_idx(buffer)}} = {{stencil_name}}_{{buffer_read_idx(buffer)}} >= {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_buf_len;
                    {#% if not buffer.is_read_write_aligned %}
                    bool cond_end_of_line_buff_{{stencil_name}}_{{buffer_write_idx(buffer)}} = {{stencil_name}}_{{buffer_write_idx(buffer)}} >= (plane_diff);
                    {% endif %#}
                {% endif %}

                    if (cond_end_of_line_buff_{{stencil_name}}_{{buffer_read_idx(buffer)}})
                        {{stencil_name}}_{{buffer_read_idx(buffer)}} = 0;
                    else
                        {{stencil_name}}_{{buffer_read_idx(buffer)}}++;
                {#% if not buffer.is_read_write_aligned %}

                    if (cond_end_of_line_buff_{{stencil_name}}_{{buffer_write_idx(buffer)}})
                        {{stencil_name}}_{{buffer_write_idx(buffer)}} = 0;
                    else
                        {{stencil_name}}_{{buffer_write_idx(buffer)}}++;
                {% endif %#}
            {% endfor %}
        {% endfor %}

    #ifdef DEBUG_LOG
                    printf("[DEBUG][INTERNAL][{{lh.kernel}}_PE_%d{%if prog.is_interleave() %}:%d{% endif %}] loop params after update i: %d, "\
                    {% if lh.ndim > 1 %}
                                    "j: %d, "\
                    {% endif %}
                    {% if lh.ndim > 2 %}
                                    "k: %d, "\
                    {% endif %}
                    {% for stencil_name in lh.get_unique_read_stencil_names() %}
                        {% for buffer in widen_stencil_disc_map[stencil_name].window_buffers %}
                                    "{{stencil_name}}_{{buffer_read_idx(buffer)}}(%d), "\
                        {% endfor %}
                        {% for buffer in widen_stencil_disc_map[stencil_name].window_buffers %}
                                    "{{stencil_name}}_{{buffer_read_idx(buffer)}}_const_buf_len: %d, "\
                        {% endfor %}
                    {% endfor %}
                                    "reg_itr: %d\n", m_PEId, {%if prog.is_interleave() %}SUB_TILE_ID, {% endif %}i, 
                    {% if lh.ndim > 1 %}
                                    j,
                    {% endif %}
                    {% if lh.ndim > 2 %}
                                    k,
                    {% endif %}
                    {% for stencil_name in lh.get_unique_read_stencil_names() %}
                        {% for buffer in widen_stencil_disc_map[stencil_name].window_buffers %}
                                    {{stencil_name}}_{{buffer_read_idx(buffer)}},  
                        {% endfor %}
                        {% for buffer in widen_stencil_disc_map[stencil_name].window_buffers %}
                                    {{stencil_name}}_{{buffer_read_idx(buffer)}}_const_buf_len,  
                        {% endfor %}
                    {% endfor %}
                                    reg_itr);
                
                    printf("[DEBUG][INTERNAL][{{lh.kernel}}_PE_%d{%if prog.is_interleave() %}:%d{% endif %}] --------------------------------------------------------\n\n", m_PEId{%if prog.is_interleave() %}, SUB_TILE_ID{% endif %});

        {% for arg in lh.args|ops_dat|ops_read_or_rw %}
                    printf("[DEBUG][INTERNAL][{{lh.kernel}}_PE_%d{%if prog.is_interleave() %}:%d{% endif %}] read values arg{{arg.id}}: (", m_PEId{%if prog.is_interleave() %}, SUB_TILE_ID{% endif %});
            {% if lh.dats[arg.dat_id].isMultiDim() %}
                    for (int ri = 0; ri < {% if prog.is_interleave() -%} subtile_full_vector_factor {%- else -%}{{vector_factor_name(arg)}}{% endif %}; ri++)
                    {
                {% if target == "hls" %}
                        ops::hls::DataConv tmpConverter;
                        tmpConverter.i = arg{{arg.id}}_read_val.range((ri + 1)*s_datatype_size - 1, ri * s_datatype_size);
                        printf("%f ", tmpConverter.f);
                {% else %}
                        printf("%f ", arg{{arg.id}}_read_val[ri]);
                {% endif %} 
                    }
            {% else %}
                    for (int ri = 0; ri < {% if prog.is_interleave() -%} subtile_full_vector_factor {%- else -%} vector_factor {%- endif %}; ri++)
                    {
                {% if target == "hls" %}
                        ops::hls::DataConv tmpConverter;
                        tmpConverter.i = arg{{arg.id}}_read_val.range((ri + 1)*s_datatype_size - 1, ri * s_datatype_size);
                        printf("%f ", tmpConverter.f);
                {% else %}
                        printf("%f ", arg{{arg.id}}_read_val[ri]);
                {% endif %}
                    }
            {% endif %}
                    printf(")\n");
        {% endfor %}
    #endif      
                }

                vec2arr: for (unsigned short x = 0; x < {% if prog.is_interleave() -%} subtile_full_vector_factor {%- else -%} vector_factor {%- endif %}; x++)
                {
                #pragma HLS UNROLL factor={% if prog.is_interleave() %}subtile_full_vector_factor{% else %}vector_factor{% endif %}

        {% if lh.isMultiDim() %}
            {% for m_dim in lh.getMultidimList() %}
                    unsigned short x_d{{m_dim}} = x * {{m_dim}};
            {% endfor %}
        {% endif %}
        {% for arg in lh.args|ops_dat|ops_read_or_rw %}
            {% set stencil = prog.findStencil(arg.stencil_ptr) %}
            {% set widen_stencil = widen_stencil_disc_map[stencil.stencil_ptr].widen_stencil %}
            {% for row_discriptor in stencil.row_discriptors %}
                {% for point in row_discriptor.row_points %}
                    {% set widen_point = widen_stencil_disc_map[stencil.stencil_ptr].point_to_widen_map[point] %}
                    {% if point.x == row_discriptor.base_point.x %}
                        {% if lh.dats[arg.dat_id].isMultiDim() %}
                            {% for m_dim in range(lh.dats[arg.dat_id].dim) %}
                                {% if target == "hls" %}
                    ops::hls::DataConv arg{{arg.id}}_{{m_dim}}_tmpConverter_{{point.y}}_{{point.z}};
                    arg{{arg.id}}_{{m_dim}}_tmpConverter_{{point.y}}_{{point.z}}.i = arg{{arg.id}}_widenStencilValues[{{widen_stencil.points.index(widen_point)}}].range(s_datatype_size * (x_d{{lh.dats[arg.dat_id].dim}} + {{m_dim + 1}}) - 1, (x_d{{lh.dats[arg.dat_id].dim}} + {{m_dim}}) * s_datatype_size);
                    arg{{arg.id}}_{{m_dim}}_rowArr_{{row_discriptor.row_id[0]}}_{{row_discriptor.row_id[1]}}[x + half_span_x] = arg{{arg.id}}_{{m_dim}}_tmpConverter_{{point.y}}_{{point.z}}.f; 
                                {% else %}
                    arg{{arg.id}}_{{m_dim}}_rowArr_{{row_discriptor.row_id[0]}}_{{row_discriptor.row_id[1]}}[x + half_span_x] = arg{{arg.id}}_widenStencilValues[{{widen_stencil.points.index(widen_point)}}][x_d{{lh.dats[arg.dat_id].dim}} + {{m_dim}}];
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% if target == "hls" %}
                    ops::hls::DataConv arg{{arg.id}}_tmpConverter_{{point.y}}_{{point.z}};
                    arg{{arg.id}}_tmpConverter_{{point.y}}_{{point.z}}.i = arg{{arg.id}}_widenStencilValues[{{widen_stencil.points.index(widen_point)}}].range(s_datatype_size * (x + 1) - 1, x * s_datatype_size);
                    arg{{arg.id}}_rowArr_{{row_discriptor.row_id[0]}}_{{row_discriptor.row_id[1]}}[x + half_span_x] = arg{{arg.id}}_tmpConverter_{{point.y}}_{{point.z}}.f; 
                            {% else %}
                    arg{{arg.id}}_rowArr_{{row_discriptor.row_id[0]}}_{{row_discriptor.row_id[1]}}[x + half_span_x] = arg{{arg.id}}_widenStencilValues[{{widen_stencil.points.index(widen_point)}}][x]; 
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}               
                }
                vec2arr_rest:
                {
        {% for arg in lh.args|ops_dat|ops_read_or_rw %}
            {% set stencil = prog.findStencil(arg.stencil_ptr) %}
            {% set widen_stencil = widen_stencil_disc_map[stencil.stencil_ptr].widen_stencil %}
            {% for row_discriptor in stencil.row_discriptors %}
                {% for point in row_discriptor.row_points %}
                    {% set widen_point = widen_stencil_disc_map[stencil.stencil_ptr].point_to_widen_map[point] %}
                    {% if point.x != row_discriptor.base_point.x %}
                        {% if prog.is_interleave() %}
                            {% set rest_vector_factor = (config.vector_factor * 2 + lh.read_stencil.stencil_size.x - 1) %}
                        {% else %}
                            {% set rest_vector_factor = config.vector_factor %}
                        {% endif %}
                        {% for i in range(rest_vector_factor) %}
                            {% set diff = point.x - row_discriptor.base_point.x %}
                            {% set access_idx = diff * rest_vector_factor + row_discriptor.base_point.x + i %}
                            {% if (diff < 0 and access_idx >= 0) or (diff > 0 and access_idx < rest_vector_factor + span_x ) %}
                    //diff = {{diff}}
                    // access_idx = {{access_idx}}
                                {% if lh.dats[arg.dat_id].isMultiDim() %}
                                {% set i_d = i * lh.dats[arg.dat_id].dim %}
                                    {% for m_dim in range(lh.dats[arg.dat_id].dim) %}
                                        {% if target == "hls" %}
                    ops::hls::DataConv arg{{arg.id}}_{{m_dim}}_tmpConverter_{{point.x}}_{{point.y}}_{{point.z}}_{{i}};
                    arg{{arg.id}}_{{m_dim}}_tmpConverter_{{point.x}}_{{point.y}}_{{point.z}}_{{i}}.i = arg{{arg.id}}_widenStencilValues[{{widen_stencil.points.index(widen_point)}}].range(s_datatype_size * ({{i_d + m_dim}} + 1) - 1, s_datatype_size * {{i + m_dim}});
                    arg{{arg.id}}_{{m_dim}}_rowArr_{{row_discriptor.row_id[0]}}_{{row_discriptor.row_id[1]}}[{{access_idx}}] = arg{{arg.id}}_{{m_dim}}_tmpConverter_{{point.x}}_{{point.y}}_{{point.z}}_{{i}}.f;
                                        {% else %}
                    arg{{arg.id}}_{{m_dim}}_rowArr_{{row_discriptor.row_id[0]}}_{{row_discriptor.row_id[1]}}[{{access_idx}}] =  arg{{arg.id}}_widenStencilValues[{{widen_stencil.points.index(widen_point)}}][{{i + m_dim}}];
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% if target == "hls" %}
                    ops::hls::DataConv arg{{arg.id}}_tmpConverter_{{point.x}}_{{point.y}}_{{point.z}}_{{i}};
                    arg{{arg.id}}_tmpConverter_{{point.x}}_{{point.y}}_{{point.z}}_{{i}}.i = arg{{arg.id}}_widenStencilValues[{{widen_stencil.points.index(widen_point)}}].range(s_datatype_size * ({{i}} + 1) - 1, s_datatype_size * {{i}});
                    arg{{arg.id}}_rowArr_{{row_discriptor.row_id[0]}}_{{row_discriptor.row_id[1]}}[{{access_idx}}] = arg{{arg.id}}_tmpConverter_{{point.x}}_{{point.y}}_{{point.z}}_{{i}}.f;
                                    {% else %}
                    arg{{arg.id}}_rowArr_{{row_discriptor.row_id[0]}}_{{row_discriptor.row_id[1]}}[{{access_idx}}] = arg{{arg.id}}_widenStencilValues[{{widen_stencil.points.index(widen_point)}}][{{i}}];
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
                }
        {% if prog.is_interleave() %}
                process: for (unsigned short x = half_span_x; x < subtile_full_vector_factor_min_hs; x++)
                {
    #pragma HLS UNROLL factor=subtile_vector_factor
                    short index = (i << adj_shift_bits) + x + x_idx_adjust;
        {% else %}
                process: for (unsigned short x = 0; x < vector_factor; x++)
                {
    #pragma HLS UNROLL factor=vector_factor
                    short index = (i << shift_bits) + x;
        {% endif %}
                    bool neg_cond = register_it(             
                            (index < lower_limit_x) 
                            || (index >= upper_limit_x)
        {% if lh.ndim > 1 %}
                            || (j < lower_limit_y) 
                            || (j >= upper_limit_y)
        {% endif %}
        {% if lh.ndim > 2 %}
                            || (k < lower_limit_z) 
                            || (k >= upper_limit_z)
        {% endif %}
                    );

    #ifdef DEBUG_LOG
        {% if lh.ndim == 1 %}
                    printf("[DEBUG][INTERNAL][{{lh.kernel}}_PE_%d{%if prog.is_interleave() %}:%d{% endif %}] index=(%d), lowerbound=(%d), upperbound=(%d), neg_cond=%d\n", m_PEId, {%if prog.is_interleave() %}SUB_TILE_ID, {% endif %}index,
                                lower_limit_x, upper_limit_x, neg_cond);

        {% elif lh.ndim == 2 %}
                    printf("[DEBUG][INTERNAL][{{lh.kernel}}_PE_%d{%if prog.is_interleave() %}:%d{% endif %}] index=(%d, %d), lowerbound=(%d, %d), upperbound=(%d, %d), neg_cond=%d\n", m_PEId, {%if prog.is_interleave() %}SUB_TILE_ID, {% endif %}index, j,
                                lower_limit_x, lower_limit_y, upper_limit_x, upper_limit_y, neg_cond);
        {% else %}
                    printf("[DEBUG][INTERNAL][{{lh.kernel}}_PE_%d{%if prog.is_interleave() %}:%d{% endif %}] index=(%d, %d, %d), lowerbound=(%d, %d, %d), upperbound=(%d, %d, %d), neg_cond=%d\n", m_PEId, {%if prog.is_interleave() %}SUB_TILE_ID, {% endif %}index, j, k,
                                lower_limit_x, lower_limit_y, lower_limit_z, 
                                upper_limit_x, upper_limit_y, upper_limit_z, neg_cond);

        {% endif %}
    #endif
        {% for arg in lh.args|ops_dat %}
            {% if (arg is ops_write) %}
                {% if lh.dats[arg.dat_id].isMultiDim() %}
                    {% for m_dim in range(lh.dats[arg.dat_id].dim) %}
                    stencil_type arg{{arg.id}}_{{m_dim}}_result;
                    {% endfor %}
                {% else %}
                    stencil_type arg{{arg.id}}_result;
                {% endif %}
            {% endif %} 
        {% endfor %}

        {% if lh.arg_idx != -1 %}
                    short idx[] = {index, {% if lh.ndim > 1 %}j,{% else %}1,{% endif %} {% if lh.ndim > 2 %}k{% else %}1{% endif %}};
        {% endif %}

                    kernel_{{lh.kernel}}_core(
        {% for arg in lh.args %}
            {% if loop.last %}
                {% if consts %}
                    {% set last_check = False %}
                {% else %}
                    {% set last_check = True %}
                {% endif %}
            {% else %}
                {% set last_check = False %}
            {% endif %}
            {% if arg is ops_read or arg is ops_rw %}
                {% if prog.findStencil(arg.stencil_ptr) %}
                {% set base_offset = read_stencil.base_point.x - prog.findStencil(arg.stencil_ptr).base_point.x %}
                    {% for i in range(prog.findStencil(arg.stencil_ptr).num_points)%}
                        {% if lh.dats[arg.dat_id].isMultiDim() %}
                            {% for m_dim in range(lh.dats[arg.dat_id].dim) %}
                            arg{{arg.id}}_{{m_dim}}_rowArr_{{prog.findStencil(arg.stencil_ptr).points[i].y}}_{{prog.findStencil(arg.stencil_ptr).points[i].z}}[x + {{prog.findStencil(arg.stencil_ptr).points[i].x + base_offset}}]{{"," if (not loop.last or not last_check)}}
                            {% endfor %}
                        {% else %}
                            arg{{arg.id}}_rowArr_{{prog.findStencil(arg.stencil_ptr).points[i].y}}_{{prog.findStencil(arg.stencil_ptr).points[i].z}}[x + {{prog.findStencil(arg.stencil_ptr).points[i].x + base_offset}}]{{"," if (not loop.last or not last_check)}}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% if arg is ops_write %}
                {% if prog.findStencil(arg.stencil_ptr) %}
                    {% for i in range(prog.findStencil(arg.stencil_ptr).num_points)%}
                        {% if lh.dats[arg.dat_id].isMultiDim() %}
                            {% for m_dim in range(lh.dats[arg.dat_id].dim) %}
                            arg{{arg.id}}_{{m_dim}}_result{{"," if (not loop.last or not last_check)}}
                            {% endfor %}
                        {% else %}
                            arg{{arg.id}}_result{{"," if (not loop.last or not last_check)}}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% if arg is ops_idx %}
                            idx{{"," if (not loop.last or not last_check)}}
            {% endif %}
            {% if arg is ops_gbl %}
                            &{{get_arg_gbl_name(arg)}}{{"," if (not loop.last or not last_check)}}
            {% endif %}
        {% endfor %}
        {% for const in consts %}
                            {{const.ptr}}{{"," if not loop.last}}
        {% endfor %}
                    );

        {% for arg in lh.args|ops_dat %}
            {% if (arg is ops_write or arg is ops_rw) %}
                {% if lh.dats[arg.dat_id].isMultiDim() %}
                    {% for m_dim in range(lh.dats[arg.dat_id].dim) %}
                        {% if target == "hls" %}
                    ops::hls::DataConv arg{{arg.id}}_{{m_dim}}_tmpConvWrite;
                        {% else %}
                    stencil_type arg{{arg.id}}_{{m_dim}}_tmpWriteVal;
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if target == "hls" %}
                    ops::hls::DataConv arg{{arg.id}}_tmpConvWrite;
                    {% else %}
                    stencil_type arg{{arg.id}}_tmpWriteVal;
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}

                    if (not neg_cond)
                    {
        {% for arg in lh.args|ops_dat|ops_write %}
            {% if lh.dats[arg.dat_id].isMultiDim() %}
                {% for m_dim in range(lh.dats[arg.dat_id].dim) %}
                    {% if target == "hls" %}
                        arg{{arg.id}}_{{m_dim}}_tmpConvWrite.f = arg{{arg.id}}_{{m_dim}}_result;
                    {% else %}
                        arg{{arg_id}}_{{m_dim}}_tmpWriteVal = arg{{arg.id}}_{{m_dim}}_result;
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if target == "hls" %}
                        arg{{arg.id}}_tmpConvWrite.f = arg{{arg.id}}_result;
                {% else %}
                        arg{{arg.id}}_tmpWriteVal = arg{{arg.id}}_result;
                {% endif %}
            {% endif %}
        {% endfor %}
                    }
                    else
                    {

        // {{datMap}}
        {% for arg in lh.args|ops_dat|ops_write %}
        {# TODO: FIX This line un notFullyMapped check weather the dat have read arg that is mapped otherwise replace it with similar to not neg_cond #}
            {% set base_offset = read_stencil.base_point.x - prog.findStencil(arg.stencil_ptr).base_point.x %}
                {#{{get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh)}}#}
                //dat_id: {{arg.dat_id}}, dat: {{lh.dats[arg.dat_id].ptr}}, swap_id: {{datMap[arg.dat_id]}}, swap_dat: {{lh.dats[datMap[arg.dat_id]].ptr}}
                {% if get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh) %}
                    {% if lh.dats[arg.dat_id].isMultiDim() %}
                        {% for m_dim in range(lh.dats[arg.dat_id].dim) %}
                            {% if target == "hls" %}
                        arg{{arg.id}}_{{m_dim}}_tmpConvWrite.f = arg{{get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).id}}_{{m_dim}}_rowArr_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.y}}_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.z}}[x + {{base_offset}}];
                            {% else %}
                        arg{{arg.id}}_{{m_dim}}_tmpWriteVal = = arg{{get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).id}}_{{m_dim}}_rowArr_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.y}}_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.z}}[x + {{base_offset}}];
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% if target == "hls" %}
                        arg{{arg.id}}_tmpConvWrite.f = arg{{get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).id}}_rowArr_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.y}}_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.z}}[x + {{base_offset}}];
                        {% else %}
                        arg{{arg.id}}_tmpWriteVal = arg{{get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).id}}_rowArr_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.y}}_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.z}}[x + {{base_offset}}];
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if lh.dats[arg.dat_id].isMultiDim() %}
                        {% for m_dim in range(lh.dats[arg.dat_id].dim) %}
                            {% if target == "hls" %}
                        arg{{arg.id}}_{{m_dim}}_tmpConvWrite.f = 0.0f;
                            {% else %}
                        arg{{arg.id}}_{{m_dim}}_tmpWriteVal = 0.0f;
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% if target == "hls" %}
                        arg{{arg.id}}_tmpConvWrite.f = 0.0f;
                        {% else %}
                        arg{{arg.id}}_tmpWriteVal = 0.0f;
                        {% endif %}
                    {% endif %}
                {% endif %}
        {% endfor %}
                    }
                // *** rw convertions ***
        {% for arg in lh.args|ops_dat|ops_rw %}
            {% set base_offset = read_stencil.base_point.x - prog.findStencil(arg.stencil_ptr).base_point.x %}
            {% if lh.dats[arg.dat_id].isMultiDim() %}
                {% for m_dim in range(lh.dats[arg.dat_id].dim) %}
                    {% if target == "hls" %}
                    arg{{arg.id}}_{{m_dim}}_tmpConvWrite.f = arg{{arg.id}}_{{m_dim}}_rowArr_{{prog.findStencil(arg.stencil_ptr).base_point.y}}_{{prog.findStencil(arg.stencil_ptr).base_point.z}}[x + {{prog.findStencil(arg.stencil_ptr).base_point.x + base_offset}}];
                    {% else %}
                    arg{{arg.id}}_{{m_dim}}_tmpWriteVal = arg{{arg.id}}_{{m_dim}}_rowArr_{{prog.findStencil(arg.stencil_ptr).base_point.y}}_{{prog.findStencil(arg.stencil_ptr).base_point.z}}[x + {{prog.findStencil(arg.stencil_ptr).base_point.x + base_offset}}];
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if target == "hls" %}
                    arg{{arg.id}}_tmpConvWrite.f = arg{{arg.id}}_rowArr_{{prog.findStencil(arg.stencil_ptr).base_point.y}}_{{prog.findStencil(arg.stencil_ptr).base_point.z}}[x + {{prog.findStencil(arg.stencil_ptr).base_point.x + base_offset}}];
                {% else %}
                    arg{{arg.id}}_tmpWriteVal = arg{{arg.id}}_rowArr_{{prog.findStencil(arg.stencil_ptr).base_point.y}}_{{prog.findStencil(arg.stencil_ptr).base_point.z}}[x + {{prog.findStencil(arg.stencil_ptr).base_point.x + base_offset}}];
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for arg in lh.args|ops_dat %}
            {% if (arg is ops_write or arg is ops_rw) %}
                {% if lh.dats[arg.dat_id].isMultiDim() %}
                    {% for m_dim in range(lh.dats[arg.dat_id].dim) %}
                        {% if target == "hls" %}
                    arg{{arg.id}}_update_val.range(s_datatype_size * (x + {{m_dim + 1}}) - 1, (x + {{m_dim}}) * s_datatype_size) = arg{{arg.id}}_{{m_dim}}_tmpConvWrite.i;
                        {% else %}
                    arg{{arg.id}}_update_val[x + {{m_dim}}] = arg{{arg.id}}_{{m_dim}}_tmpWriteVal;
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if target == "hls" %}
                    arg{{arg.id}}_update_val.range(s_datatype_size * (x + 1) - 1, x * s_datatype_size) = arg{{arg.id}}_tmpConvWrite.i;
                    {% else %}
                    arg{{arg.id}}_update_val[x] = arg{{arg.id}}_tmpWriteVal;
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %} 
                }
        {% if prog.is_interleave() %}
                process_rest: 
                {
            {% set adj_vector_factor = (config["vector_factor"]*2)|int %}
            {% set adj_vector_factor_full = adj_vector_factor + (read_stencil.stencil_size.x - 1) %}
            {% set adj_vector_factor_plus_half_span = adj_vector_factor + ((read_stencil.stencil_size.x - 1)/2)|int %}
            {% for arg in lh.args|ops_dat %}
                {% if (arg is ops_write or arg is ops_rw) %}
                    {% set base_offset = read_stencil.base_point.x - prog.findStencil(arg.stencil_ptr).base_point.x %}
                    {% if lh.dats[arg.dat_id].isMultiDim() %}
                        {% for m_dim in range(lh.dats[arg.dat_id].dim) %}
                            {% for x in range(((read_stencil.stencil_size.x - 1)/2)|int) %}
                                {% if target == "hls" %}
                    ops::hls::DataConv arg{{arg.id}}_{{m_dim}}_{{x}}_tmpConvWrite;
                    arg{{arg.id}}_{{m_dim}}_{{x}}_tmpConvWrite.f = arg{{get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).id}}_{{m_dim}}_rowArr_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.y}}_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.z}}[{{x + base_offset}}];
                    arg{{arg.id}}_update_val.range(s_datatype_size * {{(x + m_dim + 1)}} - 1, {{(x + m_dim)}} * s_datatype_size) = arg{{arg.id}}_{{m_dim}}_{{x}}_tmpConvWrite.i;
                                {% else %}
                    arg{{arg.id}}_update_val[{{x + m_dim}}] = arg{{get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).id}}_{{m_dim}}_rowArr_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.y}}_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.z}}[{{x + base_offset}}]
                                {% endif %}
                            {% endfor %}
                            {% for x in range(adj_vector_factor_plus_half_span, adj_vector_factor_full) %}
                                {% if target == "hls" %}
                    ops::hls::DataConv arg{{arg.id}}_{{m_dim}}_{{x}}_tmpConvWrite;
                    arg{{arg.id}}_{{m_dim}}_{{x}}_tmpConvWrite.f = arg{{get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).id}}_{{m_dim}}_rowArr_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.y}}_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.z}}[{{x + base_offset}}];
                    arg{{arg.id}}_update_val.range(s_datatype_size * {{(x + m_dim + 1)}} - 1, {{(x + m_dim)}} * s_datatype_size) = arg{{arg.id}}_{{m_dim}}_{{x}}_tmpConvWrite.i;
                                {% else %}
                    arg{{arg.id}}_update_val[{{(x + m_dim)}}] = arg{{get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).id}}_{{m_dim}}_rowArr_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.y}}_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.z}}[{{x + base_offset}}];
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        {% for x in range(((read_stencil.stencil_size.x - 1)/2)|int) %}
                            {% if target == "hls" %}
                    ops::hls::DataConv arg{{arg.id}}_{{x}}_tmpConvWrite;
                    arg{{arg.id}}_{{x}}_tmpConvWrite.f = arg{{get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).id}}_rowArr_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.y}}_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.z}}[{{x + base_offset}}];
                    arg{{arg.id}}_update_val.range(s_datatype_size * {{(x + 1)}} - 1, {{x}} * s_datatype_size) = arg{{arg.id}}_{{x}}_tmpConvWrite.i;
                            {% else %}
                    arg{{arg.id}}_update_val[{{x}}] = arg{{get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).id}}_rowArr_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.y}}_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.z}}[{{x + base_offset}}];
                            {% endif %}
                        {% endfor %}
                        {% for x in range(adj_vector_factor_plus_half_span, adj_vector_factor_full) %}
                            {% if target == "hls" %}
                    ops::hls::DataConv arg{{arg.id}}_{{x}}_tmpConvWrite;
                    arg{{arg.id}}_{{x}}_tmpConvWrite.f = arg{{get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).id}}_rowArr_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.y}}_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.z}}[{{x + base_offset}}];
                    arg{{arg.id}}_update_val.range(s_datatype_size * {{(x + 1)}} - 1, {{x}} * s_datatype_size) = arg{{arg.id}}_{{x}}_tmpConvWrite.i;
                            {% else %}
                    arg{{arg.id}}_update_val[{{x}}] = arg{{get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).id}}_rowArr_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.y}}_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.z}}[{{x + base_offset}}];
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endfor %} 
                }
        {% endif %}
                write:
                {
        {% if read_stencil.dim == 1 %}
                    bool cond_write = (i >= 0);
        {% elif read_stencil.dim == 2 %}
                    bool cond_write = (j >= 0);
        {% else %}
                    bool cond_write = (k >= 0);
        {% endif %}
        
                    if (cond_write)
                    {
    #ifdef DEBUG_LOG
                        printf("[DEBUG][INTERNAL][{{lh.kernel}}_PE_%d{%if prog.is_interleave() %}:%d{% endif %}] --------------------------------------------------------\n\n", m_PEId{%if prog.is_interleave() %}, SUB_TILE_ID{% endif %});

        {% for arg in lh.args|ops_dat %}
            {% if (arg is ops_write or arg is ops_rw) %}
                {% if lh.dats[arg.dat_id].isMultiDim() %}
                        printf("[DEBUG][INTERNAL][{{lh.kernel}}_PE_%d{%if prog.is_interleave() %}:%d{% endif %}] wirte values arg{{arg.id}}: (", m_PEId{%if prog.is_interleave() %}, SUB_TILE_ID{% endif %});
                        for (int ri = 0; ri < {{vector_factor_name(arg)}}; ri++)
                        {
                    {% if target == "hls"%}
                            ops::hls::DataConv tmpConverter;
                            tmpConverter.i = arg{{arg.id}}_update_val.range((ri + 1)*s_datatype_size - 1, ri * s_datatype_size);
                            printf("%f ", tmpConverter.f);
                    {% else %}
                            printf("%f ", arg{{arg.id}}_update_val[ri]);
                    {% endif %}
                        }
                        printf(")\n");
                {% else %}
                        printf("[DEBUG][INTERNAL][{{lh.kernel}}_PE_%d{%if prog.is_interleave() %}:%d{% endif %}] wirte values arg{{arg.id}}: (", m_PEId{%if prog.is_interleave() %}, SUB_TILE_ID{% endif %});
                        for (int ri = 0; ri < {% if prog.is_interleave() -%} subtile_full_vector_factor {%- else -%} vector_factor {%- endif %}; ri++)
                        {
                    {% if target == "hls" %}
                            ops::hls::DataConv tmpConverter;
                            tmpConverter.i = arg{{arg.id}}_update_val.range((ri + 1)*s_datatype_size - 1, ri * s_datatype_size);
                            printf("%f ", tmpConverter.f);
                    {% else %}
                            printf("%f ", arg{{arg.id}}_update_val[ri]);
                    {% endif %}
                        }
                        printf(")\n");
                {% endif %}
            {% endif %}
        {% endfor %}
    #endif
        {% for arg in lh.args|ops_dat %}
            {% if (arg is ops_write or arg is ops_rw)  %}
                {% if prog.is_interleave() %}
                    {% if target == "hls" %}
                    {{hls_stream_name_t2(arg, "l_wr")-}} << arg{{arg.id}}_update_val.range(half_{{axis_data_width_name(arg)}}_min_1, 0);
                    {{hls_stream_name_t2(arg, "u_wr")-}} << arg{{arg.id}}_update_val.range({{axis_data_width_name(arg)}}_min_1, half_{{axis_data_width_name(arg)}});
                    {% else %}
                    half_{{widen_dt_name(arg)}} arg{{arg.id}}_tmp_l_wr_val;
                    half_{{widen_dt_name(arg)}} arg{{arg.id}}_tmp_u_wr_val;

                    for (unsigned short v_id = 0; v_id < half_{{vector_factor_name(arg)}}; v_id++) {
                        #pragma HLS UNROLL
                        arg{{arg.id}}_tmp_l_wr_val[v_id] = arg{{arg.id}}_update_val[v_id];
                    }
                    for (unsigned short v_id = 0; v_id < half_{{vector_factor_name(arg)}}; v_id++) {
                        #pragma HLS UNROLL
                        arg{{arg.id}}_tmp_u_wr_val = arg{{arg.id}}_update_val[half_{{vector_factor_name(arg)}} + v_id];
                    }
                    {{hls_stream_name_t2(arg, "l_wr")-}}.write(arg{{arg.id}}_tmp_l_wr_val);
                    {{hls_stream_name_t2(arg, "u_wr")-}}.write(arg{{arg.id}}_tmp_u_wr_val);
                    {% endif %}
                {% else %}
                    {% if target == "hls" %}
                        {{hls_stream_name_t2(arg, "wr")}} <<  arg{{arg.id}}_update_val;
                    {% else %}
                        {{hls_stream_name_t2(arg, "wr")}}.write(arg{{arg.id}}_update_val);
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
                    }
                }
            }
        }
    {% if not isTiling %}
    }
    {% endif %}
};
{% endblock %}

{% block kernel_PE %}
    {% if prog.is_interleave() %}
template <unsigned short NUM_SUB_TILE, unsigned short SUB_TILE_ID>
    {% endif %}
static void kernel_{{lh.kernel}}_PE(
    const unsigned short& PEId_offset,
    const unsigned short& PEId_i,
    {% if target == "hls" %}
    const ops::hls::{{"StencilConfigCoreSingleTile" if isTiling else "StencilConfigCore"}}& stencilConfig,
    {% else %}
    const unsigned int outer_itr,
    {{sconf.stencil_config()}},
    {% endif %}
    {% for arg in lh.args|ops_not_idx %}
        {% if loop.last %}
            {% if consts or lh.args|ops_gbl|length > 0 %}
                {% set last_check = False %}
            {% else %}
                {% set last_check = True %}
            {% endif %}
        {% else %}
            {% set last_check = False %}
        {% endif %}
        {% if arg is ops_dat %}
            //{{lh.dats[arg.dat_id].ptr}}
            {% if (arg is ops_read) %}
                {% if prog.is_interleave() %}
            half_{{"in_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "l_rd")-}},
            half_{{"in_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "u_rd")-}}{{"," if (not loop.last or not last_check)}}
                {% else %}
            {{"in_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name(arg)-}}{{"," if (not loop.last or not last_check)}}
                {% endif %}
            {% elif arg is ops_write %}
                {% if prog.is_interleave() %}
            half_{{"out_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "l_wr")-}},
            half_{{"out_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "u_wr")-}}{{"," if (not loop.last or not last_check)}}
                {% else %}
            {{"out_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name(arg)-}}{{"," if (not loop.last or not last_check)}}
                {% endif %}
            {% else %}
                {% if prog.is_interleave() %}
            half_{{"in_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "l_rd")-}},
            half_{{"in_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "u_rd")-}},
            half_{{"out_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "l_wr")-}},
            half_{{"out_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "u_wr")-}}{{"," if (not loop.last or not last_check)}}
                {% else %}
            {{"in_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "rd")-}},
            {{"out_" if target == "tapa"}}{{widen_stream_dt_name(arg)}}& {{hls_stream_name_t2(arg, "wr")-}}{{"," if (not loop.last or not last_check)}}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% for arg in lh.args|ops_not_idx %}
        {% if loop.last %}
            {% if consts %}
                {% set last_check = False %}
            {% else %}
                {% set last_check = True %}
            {% endif %}
        {% else %}
            {% set last_check = False %}
        {% endif %}
        {% if arg is ops_gbl %}
    const {{arg.typ}}& {{get_arg_gbl_name(arg)}}{{"," if (not loop.last or not last_check)}}
        {% endif %}
    {% endfor %}
    {% for const in consts %}
    const {{const.typ}}& {{const.ptr}}{{"," if not loop.last}}
    {% endfor %}
)
{
    {% if target == "tapa" %}
    ops::hls::{{"StencilConfigCoreSingleTile" if isTiling else "StencilConfigCore"}} stencilConfig;
    {{sconf.stencil_config_create("stencilConfig")}}
    {% endif %}

    Stencil_{{lh.kernel}}{% if prog.is_interleave() %}<NUM_SUB_TILE, SUB_TILE_ID>{% endif %} stencil;

    {% if is_list_itr_par %}
    short PEId = PEId_offset + PEId_i;
    {% else %}
    short PEId = PEId_offset * iter_par_factor + PEId_i;
    {% endif %}

#ifdef DEBUG_LOG
    printf("[KERNEL_DEBUG][%d{%if prog.is_interleave() %}:%d{% endif %}]|%s| stencil config gridSize: %d (xblocks), %d, %d\n", PEId, {%if prog.is_interleave() %}SUB_TILE_ID, {% endif%}__func__, {{"stencilConfig.tile_size[0]" if isTiling else "stencilConfig.grid_size[0]"}}, {{"stencilConfig.tile_size[1]" if isTiling else "stencilConfig.grid_size[1]"}}, {{"stencilConfig.tile_size[2]" if isTiling else "stencilConfig.grid_size[2]"}});
#endif

    stencil.setConfig(PEId, stencilConfig);

#ifdef DEBUG_LOG
    printf("[KERNEL_DEBUG][%d{%if prog.is_interleave() %}:%d{% endif %}]|%s| starting stencil kernel PE\n", PEId, {%if prog.is_interleave() %}SUB_TILE_ID, {% endif%}__func__);
#endif

    {% if target == "tapa" %}
    for (unsigned int itr = 0; itr < outer_itr; itr++) {
    {% endif %}
    stencil.stencilRun(
        {% for arg in lh.args|ops_not_idx %}
        {% if loop.last %}
            {% if consts %}
                {% set last_check = False %}
            {% else %}
                {% set last_check = True %}
            {% endif %}
        {% else %}
            {% set last_check = False %}
        {% endif %}
        {% if arg is ops_dat %}
            {% if (arg is ops_read)  %}
                {% if prog.is_interleave() %}
            {{hls_stream_name_t2(arg, "l_rd")-}},
            {{hls_stream_name_t2(arg, "u_rd")-}}{{"," if (not loop.last or not last_check)}} 
                {% else %}
            {{hls_stream_name(arg)-}}{{"," if (not loop.last or not last_check)}}
                {% endif %}
            {% elif arg is ops_write %}
                {% if prog.is_interleave() %}
            {{hls_stream_name_t2(arg, "l_wr")-}},
            {{hls_stream_name_t2(arg, "u_wr")-}}{{"," if (not loop.last or not last_check)}}
                {% else %}
            {{hls_stream_name(arg)-}}{{"," if (not loop.last or not last_check)}}
                {% endif %}
            {% else %}
                {% if prog.is_interleave() %}
            {{hls_stream_name_t2(arg, "l_rd")-}},
            {{hls_stream_name_t2(arg, "u_rd")-}},
            {{hls_stream_name_t2(arg, "l_wr")-}},
            {{hls_stream_name_t2(arg, "u_wr")-}}{{"," if (not loop.last or not last_check)}}
                {% else %}
            {{hls_stream_name_t2(arg, "rd")-}},
            {{hls_stream_name_t2(arg, "wr")-}}{{"," if (not loop.last or not last_check)}}
                {% endif %}
            {% endif %}
        {% elif arg is ops_gbl %}
            {{get_arg_gbl_name(arg)}}{{"," if (not loop.last or not last_check)}}
        {% endif %}
    {% endfor %}    
    {% for const in consts %}
            {{const.ptr}}{{"," if not loop.last}}
    {% endfor %});
    {% if target == "tapa" %}
    }
    {% endif %}
    

#ifdef DEBUG_LOG
    printf("[KERNEL_DEBUG][%d{%if prog.is_interleave() %}:%d{% endif %}]|%s| Ending stencil kernel PE\n", PEId, {%if prog.is_interleave() %}SUB_TILE_ID, {% endif%}__func__);
#endif
} 

#endif // __LOOP_PE_{{lh.kernel|upper}}__
{% endblock %}
